[2016-05-26 11:17] AnturGyffrous opened #3 "Target framework versions earlier than 4.5.2?"
What is the point of targeting version 4.5.2 of the .NET framework if you're not making any use of the features in that version?

Indeed, you're not using asynchronous calls so don't even need to target version 4.5. You could easily change this to version 4.0 of the framework and loose no features at all, a cursory glance at the code suggests you could get away with an older version than that.

I

[2016-05-26 11:43] smithrobs commented on #3
Primarily because 4, 4.5, and 4.5.1 are no longer officially supported by Microsoft. [1] I felt it important to do my part in helping nudge people off unsupported versions. That said, I agree it is possible to target older versions for those that absolutely cannot upgrade for whatever reason. I will discuss this with the team. In the meantime, if you are so inclined please feel free to submit a PR

[2016-05-26 12:06] AnturGyffrous commented on #3
Thanks for the quick reply, I'll see about a PR as time permits.

[2016-09-08 15:07] smithrobs opened #4 "Support .NET Core"
- [X] Update Newtonsoft.Json
- [X] Move away from ConfigurationManager
- [X] Switch to HttpClient
- [X] Replace usage of System.Web.HttpUtility.UrlEncode
- [X] Convert voice call sample app
- [X] Update solution/projects
- [X] NuGet package
- [x] Convert Sample web app
- [x] Test projects are still .csproj due to lack of nunit support

[2016-09-29 02:04] jayrulez commented on #4
How is this going?

[2016-09-30 15:01] smithrobs commented on #4
It's going 😄 Tentative release by 10/31.

[2016-10-04 21:04] rajanadar opened #5 "list of issues to look at while contributing to the code"
hey @smithrobs

is there an issue list (ordered/unordered) that we can look at and contribute PRs pertaining to that?
what is the recommended way?

please let me know.

thanks,
Raja

[2016-10-07 16:59] smithrobs commented on #5
Hi @rajanadar! There is a list of things I'd personally like to improve, yes... but right now they're only inside my brain :) I'm finishing up the new voice API calls for a v2 release and then will be adding .NET Core support.

If you have something specific in mind and want to chat before submitting a PR, feel free to DM me on twitter [@smithrobs](https://twitter.com/smithrobs). I'm always open t

[2016-10-07 16:59] #5 closed

[2016-10-07 17:27] rajanadar commented on #5
don't have anything specific in mind. just wanted to know if there is a list of items, that i can look at and maybe do something. :) anyways, i'll check from time to time, and take it from there.

[2016-10-16 20:26] smithrobs commented on #4
A pre-release version (2.0.0-rc1) from the netcore branch with .NET Standard 1.6 support is on NuGet!

I will do some testing with OS X and Linux in the next few days.

[2016-10-16 21:23] smithrobs opened #6 "Allow optional rate limiting"
[Reference](https://github.com/Nexmo/client-library-specification)
- [X] SHOULD allow optional rate limiting.
  - [X] SHOULD gracefully handle rate limit errors by default.
  - [X] MAY optimistically avoid rate limit with a configurable self imposed rate limit.
  - [X] MUST allow rate limiting to be turned off.

In progress at [throttle](https://github.com/Nexmo/nexmo-dotnet/tree/throttle) branch.

[2016-10-16 21:25] smithrobs opened #7 "Improve error handling"
Error handling is not exposed to the lib user as well as it could be. It's mostly a "success/fail" experience. For all calls, improve on this by supporting the full range of errors mentioned in the Nexmo docs.

[2016-10-16 21:28] smithrobs opened #8 "Improved Application credential support"
Currently, the RC release supports only one application. Improve this to support multiple applications and keys. At the same time, improve the user story around application creation: provide methods to save/store the keys returned from the Nexmo API.

[2016-10-16 21:32] smithrobs opened #9 "Logging"
[Reference](https://github.com/Nexmo/client-library-specification)

Troubleshooting failed API requests can be difficult, so access to logs are invaluable. Logging:
- [x] Should use language / runtime standard log if available and generally used.
- [x] Must be configurable:
  - [x] Can be disabled / enabled
  - [x] Verbosity can be defined.
- [x] Can delegate configuration to a logging interface i

[2016-10-16 21:33] smithrobs opened #10 "Nexmo API Reporting"
[Reference](https://github.com/Nexmo/client-library-specification)

To better understand the usage of needs of developers building on Nexmo, libraries:
- [X] Must identify requests as originating from the library.
- [X] Must report internal client library version in each request.
- [X] Should report language version in each request, if not possible must replort version as -
- [X] MUST set a user-a

[2016-10-16 21:37] smithrobs opened #11 "Automate testing & nuget"
Would be nice to have a bit of CI happening. I had worked on a Travis CI build for the project in the past; if I recall, it _mostly_ worked. The .NET support wasn't 100% and maybe it has improved by now.

The nuget packing with nuspec is manual as well.

[2016-10-16 21:38] smithrobs commented on #5
@rajanadar I just put in a few of the items I could think of. Let me know if anything sounds interesting to you; I'd be happy to work with you (or anyone) on a PR!

[2016-10-17 04:14] gaupoit opened #12 "Please release new version for NumberInsight API!!!"

[2016-10-17 11:39] smithrobs commented on #12
You are in luck! We just released a [pre-release version 2.0.0-rc1](https://www.nuget.org/packages/Nexmo.Csharp.Client/2.0.0-rc1) to NuGet that supports the NumberInsight API. An official 2.0 release will come within a week or so.

[2016-10-17 11:39] #12 closed

[2016-10-17 11:47] smithrobs commented on #12
If you need to compile your own version for some reason, the NumberInsight implementation is in the master branch.

BTW, tests/examples that exercise the functionality are in https://github.com/Nexmo/nexmo-dotnet/blob/3485e73ce51f559b0bdfa4842c69740f4e9bb367/Nexmo.Api.Test.Integration/NumberInsightTest.cs

[2016-10-18 02:43] gaupoit commented on #12
Thanks @smithrobs

[2016-10-18 07:00] rajanadar commented on #9
hey @smithrobs

a few thoughts on this item.. let me know if it sounds crazy :)

in terms of the checklist above, i think .NET doesn't have an in-built logging framework. you would have to start out with an external dependency.

personally, i think a library's best use is to do its core thing, which is "connect to its http service" and abstract out the types and logistics.  and in case of any erro

[2016-10-18 07:01] rajanadar commented on #5
thanks @smithrobs

am traveling for the next 2-3 weeks. will go through the list and try to grab one when back.
looking at some of the items, one of them is around logging.. have added some of my thoughts around it..

[2016-10-20 18:40] tjlytle commented on #9
If logging is external, the client library should at least allow access to the raw HTTP request / response, so the external code has enough information to create a useful log.

Is there no standard logging interface in .NET? @rajanadar Would it be reasonable to define a simple logging interface (expect a method that takes `level` and `message`) that would allow a simple wrapper around an existing

[2016-10-21 08:38] rajanadar commented on #9
yeah @tjlytle .. an optional custom logging interface will work... but personally i have never been a big fan of it. it always means that the consumer now needs to write a concrete class (possibly register it in their dependency injection engine etc.) and maintain the class. and at any time, they are restricted to the values we provide.. the needs always increase and converge to that of a real log

[2016-10-29 14:43] goneneren opened #14 "Read Settings (ApiKey,ApiSecret,..) from web.config"
It should be possible to load settings from web.config or manually set the configuration

[2016-10-29 15:04] smithrobs commented on #14
Right. This was a breaking change in v2.0 - you will need to port your `web.config` `<appSettings>` to a JSON-formatted `settings.json` file ([example](https://github.com/Nexmo/nexmo-dotnet/blob/6b2dd44f9a19ba8f96fafec2b03874aec3cfa873/Nexmo.Samples.Voice.FirstTTS/settings.json.example)).

I do understand the need to keep existing configurations intact, particularly when using .NET 4.x and not Cor

[2016-11-05 13:29] #14 closed

[2016-11-05 14:16] smithrobs commented on #9
Great stuff, both of you.

I can't vote for generating exceptions due to failed REST API calls from the library. I don't want to support the use case where the API should throw an exception to the consuming application, potentially causing an uncaught exception which then terminates the application. There is an opportunity here to impact #7 and how we handle errors in general.

There is merit in p

[2016-11-05 18:31] smithrobs commented on #10
Leaving this open as there is an outstanding issue regarding the format - see Nexmo/client-library-specification#16

[2016-11-08 03:54] smithrobs commented on #10
Fits updated spec, closing!

[2016-11-08 03:54] #10 closed

[2016-11-18 13:25] smithrobs commented on #14
@goneneren v2.1.0 is out on NuGet and supports web.config. Please let me know if you run into any issues.

[2016-11-29 20:58] Sythion opened #15 "Sending text message in Nexmo.Api version 2.1 broken"
Using the github examples, whenever a text is sent using SMS.Send, an error code of 2 is returned with the error text "Missing username."  Had to downgrade to version 2.0 to resolve this issue.

[2016-11-29 21:16] smithrobs commented on #15
Hmm. A few things to try:
- v2.1 changed the `settings.json` structure slightly. Are your Nexmo configuration options inside of an `appSettings` object?
- Which OS and Framework are you using?
- Would you be able to provide a sanitized version of the `SMS.SMSRequest` object that you pass to `SMS.send`?

[2016-11-29 22:54] smithrobs opened #16 "Signing support"
Support [signing](https://docs.nexmo.com/messaging/signing-messages) requests and verifying signatures.

[2016-12-04 21:18] pintojoa opened #17 "Call SetBasePath when IHostingEnvironment (or equivalent) is available"
Following the instructions on the read me when sending one SMS I'm getting the following error:

An unhandled exception occurred while processing the request.
NullReferenceException: Object reference not set to an instance of an object.
Nexmo.Api.ConfigurationExtensions.KeyValueParser.AddToDictionary(XElement element, Stack<string> context, SortedDictionary<string, string> results)

TypeInitializa

[2016-12-06 17:35] lservant commented on #15
Same Error:

Where from and to are strings containing standardized phone numbers, and body is a simple test string: "Hey, this is a test!".  I'm building this with .Net 4.5.2 on Windows 10 using VS2013.  Here's my config:

where mykey and mysecret are actually my key and secret, sanitized for this post.

[2016-12-06 23:44] smithrobs commented on #15
Thank you! When you mention `web.config` - where is it located in relation to the executing process? Is this a web application or console application?

I am aware of an issue relating to console applications: The XML-style config file must be named `app.config` or `web.config` and must be in the same directory as the executable. The file cannot be named `<executable filename>.exe.config` as it is

[2016-12-07 01:30] smithrobs commented on #15
I just pushed out a v2.1.1 release that looks for the 'legacy' convention of `executing_process_filename.exe.config` file for XML configuration. Let me know if this helps this issue or not.

[2016-12-07 11:54] pintojoa commented on #17
I've created a new settings file with the name "settings.json" on the root of the webapplication (at the same level of the appsettings.json file)

The content of the settings.json file is:
[code]

[2016-12-07 17:10] lservant commented on #15
I'm building a web application, and the code is actually being held in a dll that we're deploying to a web site.  I was able to get it to work by dropping a settings.json at the root of the web site in addition to the web.config holding all my other settings.

Looking at your responses, though it seems that fix should take care of it.  I'll give it a shot and see!

Thank you for your quick feedbac

[2016-12-07 17:13] smithrobs commented on #15
Not a problem. Your real-world usage is valuable feedback, particularly since the configuration part of the library is in flux. I'm trying to support as many different scenarios as possible but want to be focused on the ones people are putting to use.

[2016-12-07 18:30] smithrobs commented on #17
Thank you. I pushed out v2.1.2 to address this issue.

The major issue is that the netcore webapp template includes a `web.config` file with contents similar to the following:

[code]

The code from MS that I used to support web.config files did not check for null when config elements contained the attribute `name` but not the attribute `connectionString`. I added this check as well as only pull s

[2016-12-07 22:36] pintojoa commented on #17
I've just update the nugget package. Now I'm only using the following appsettings.json.

[code]
But it seems that the configurations are being captured.

When I try to send one sms I get the error from the API "Missing username"

[2016-12-07 22:56] smithrobs commented on #17
Thank you for your patience. Would you try this:
1. In Solution Explorer, right-click on `appsettings.json` and click on Properties.
2. Ensure "Copy to Output Directory" is set to "Copy always"

![i17](https://cloud.githubusercontent.com/assets/245836/20990359/4b856ac4-bca6-11e6-8da1-872fa1f8fcca.png)

[2016-12-07 23:04] lservant commented on #15
I had to write up a quick blank web application project to compare Twilio vs Nexmo (message queuing in particular).  I included 2.1.2 to test this as well. I still seem to be getting that missing username error using similar code to my previous post, but directly in the code behind when trying to read from web.config alone.

Again, fixed it by putting the settings.json in there in addition to web.

[2016-12-07 23:26] smithrobs commented on #15
I'm afraid you might be getting [this related issue](https://github.com/Nexmo/nexmo-dotnet/issues/17#issuecomment-265600338) now. The lib is not calling SetBasePath on the configuration builder because IHostingEnvironment isn't available in all use cases (console applications, for example). This means the JSON configs have to be insidethe web app bin for the time being.

[2016-12-09 12:15] pintojoa commented on #17
It seems to be working now.

In our case would also be nice if we could pass the configuration throught the constructor to be able to change the api_key depending on the destination. Is this possible?

[2016-12-09 12:59] smithrobs opened #18 "Allow override of api_key/api_secret per client/request"
Per [Creating a Client](https://github.com/Nexmo/client-library-specification/blob/master/SPECIFICATION.md#creating-a-client) spec.

[2016-12-09 13:05] smithrobs commented on #17
Thanks. I'm going to rename this and keep it open until the SetBasePath issue is resolved.

You want the ability to pass in additional api_key/api_secret pairs, correct? There is no clear way to do that at this time. You can however override it through the library configuration:

```Nexmo.Api.Configuration.Instance.Settings["appSettings:Nexmo.api_key"] = "override";```

I've opened #18 to track th

[2016-12-11 12:18] smithrobs commented on #15
Closing this for now as it seems #17 will address this.

[2016-12-11 12:18] #15 closed

[2016-12-11 15:04] #6 closed

[2016-12-20 17:01] Godminders opened #20 "Support for US Short Code"
I don't see any examples for sending a message with the US Short Codes API.  Does this library support Event based alerts?

[2016-12-20 17:11] smithrobs commented on #20
There is support for short codes. You can find a couple tests that demonstrate the ability [in ShortCodeTest.cs](https://github.com/Nexmo/nexmo-dotnet/blob/050792eb8d7984560287904c2436bcbaccc7865b/Nexmo.Api.Test.Integration/ShortCodeTest.cs).

Feel free to comment here or in the Nexmo slack if you have additional questions regarding the short code implementation.

[2016-12-20 18:19] Godminders commented on #20
Here is how I'm calling it.

  Dictionary<string, string> nexmoParams = new Dictionary<string, string>();

I'm getting the errror "missing username".   I have the api-key and
api-secret set in web.config.

- Kevin

On Tue, Dec 20, 2016 at 5:11 PM, Rob Smith <notifications@github.com> wrote:

[2016-12-27 03:26] theonlynexus opened #21 "ArgumentNullException on Call.Do"
I trying to run the voice call example from the API solution with a little twist (I would like to do everything from my C# application, so I am spawning a Thread to later check on the call status), but I always run into a `ArgumentNullException` in `mscorlib.dll`. Any clues?

[code]

[2016-12-28 01:19] theonlynexus commented on #21
I think I found the problem. The new Voice API requires an application to be created on Nexmo's backend and it requires the new JWT based authentication.
I'll see if creating the app and adding authentication parameters to the appconfig.json file solves the problem.

[2016-12-28 01:29] smithrobs commented on #21
Sorry for the holiday delay. Yes, you are correct that the Voice API calls require a valid Nexmo application ID and key - please see the Nexmo [application docs](https://docs.nexmo.com/tools/application-api?utm_source=DEV_REL&utm_medium=github&utm_campaign=csharp-client-library) for full info. You will need to create an application either through the `Nexmo.Api.Application` class or some other way

[2016-12-28 06:17] theonlynexus commented on #21
Sorry to bother again, but I am struggling to make this work.
Things I have done:
- Created an application using a curl POST to `https://api.nexmo.com/v1/applications`
- Got the answer and saved it to a file for future reference
- Verified the creation using a curl GET to `https://api.nexmo.com/v1/applications`
- Copied the private key to a file named private.key and replaced each `"\n"` occurrenc

[2016-12-28 12:59] smithrobs commented on #21
No problem; I'm happy to get feedback on library usage and to get you up and running!

Yes, this is a bit tricky, especially if you are on Windows. Everything you did looks good. My guess is the `private.key` file is UTF-8 (the library expects ASCII) and may have a byte order mark. [Check out this StackOverflow article](http://stackoverflow.com/questions/1068650/using-awk-to-remove-the-byte-order-

[2017-01-02 00:32] theonlynexus commented on #21
Hello, once more.
I tried everything I know to set the encoding to plain ASCII, but I couldn't solve the issue.

Any other idea?

[2017-01-03 23:44] smithrobs commented on #21
Woo 2017! 😄

Hm. Can you try saving the private key after creating the application? Example:

[code]

Then try specifying the new app ID and keyfile via config. I do want the library to handle all this for you as it definitely can be tricky. Also note that the Application API is listed as "Early Adopter" for Nexmo and I've seen instances where the API itself returns incorrect HTTP statuses like 40

[2017-01-04 23:09] smithrobs commented on #7
Config errors are now checked for zero authentication methods and informational messages are emitted. See 4c8df8e

[2017-01-04 23:10] smithrobs commented on #16
Completed as of 4c8df8e

[2017-01-04 23:10] #16 closed

[2017-01-11 01:18] theonlynexus commented on #21
Sorry for not getting back to you, I have been quite busy with other tasks. I'll try your suggestion out during the day and the post the results.

[2017-01-13 01:03] #18 closed

[2017-01-13 01:08] smithrobs commented on #9
Closing; the mechanism is in place for use when addressing the specifics of #7

[2017-01-13 01:08] #9 closed

[2017-01-13 02:25] smithrobs commented on #20
I know we talked on the Nexmo Slack a bit, but I just pushed a pre-release version v2.2.0-rc1 to NuGet. This release includes logging support to debug configuration issues. If you continue to have trouble with authentication (such as "missing username"), please give this version a try. Your feedback would be much appreciated! 😄

[2017-01-13 02:27] smithrobs commented on #21
Not a problem. I did want to let you know I pushed a pre-release version v2.2.0-rc1 to NuGet. I can't say this will directly address your issue, but it includes configuration and request logging which may be helpful for troubleshooting.

[2017-01-13 02:29] smithrobs commented on #17
@pintojoa I just pushed a pre-release version v2.2.0-rc1 to NuGet. This release includes the ability to specify API credentials on a per-request basis. The IHostingEnvironment issue is still outstanding, but it's one of my next priorities.

[2017-01-13 07:22] theonlynexus commented on #21
So, I did the test and the result is the same ("RsaUsingSha alg expects key to be of AsymmetricAlgorithm type.")

the code I used is the following:
[code]

[2017-01-13 14:39] Godminders commented on #20
Awesome.  Thx.
On Thu, Jan 12, 2017 at 9:25 PM Rob Smith <notifications@github.com> wrote:

[2017-01-24 22:09] Pandolfou opened #22 "RsaUsingSha alg expects key to be of AsymmetricAlgorithm type."
Hi,

I'm testing the Voice Api to possibly implement it in my application. I got an issue with the Call.Do() method (see attach file)
![screenshot_1](https://cloud.githubusercontent.com/assets/8547177/22268036/f85133e6-e253-11e6-9cd2-3dd7760a7378.jpg)

I'm not sure if I use the private key correctly:
I create a Nexmo application, save the private key from the response in a text file, add the appli

[2017-01-25 20:54] smithrobs commented on #22
You are seeing this error because the Nexmo API switched from providing PKCS#1 formatted keys during application creation to PKCS#8. This library currently expects PKCS#1.

You can get around this with `openssl` as it will automatically convert it for you:

[code]

I will update the library accordingly soon! Thank you for your patience. 😄

[2017-01-25 20:55] smithrobs commented on #21
Sorry for the delay. I figured out what is going on:

You are seeing this error because the Nexmo API switched from providing PKCS#1 formatted keys during application creation to PKCS#8. This library currently expects PKCS#1.

You can get around this with `openssl` as it will automatically convert it for you:

[code]

I will update the library accordingly soon! Thank you for your patience. 😄

(ref

[2017-01-26 13:40] Pandolfou commented on #22
Thank you! I'm glad to know that you know where the problem comes from :)

[2017-01-27 19:20] sidsharma27 opened #23 "Issue with ASP .NET MVC apps [web.config]"
Was able to replicate this issue - was not getting SMS with ASP .NET MVC web app

Application Insights Telemetry (unconfigured): {"name":"Microsoft.ApplicationInsights.Dev.RemoteDependency","time":"2017-01-25T06:32:01.1398441Z","tags":{"ai.internal.sdkVersion":"rddf: 2.0.0.25000","ai.device.roleInstance":"DESKTOP-IDL5ST6"},"data":{"baseType":"RemoteDependencyData","baseData":{"ver":2,"name":"https

[2017-01-27 20:02] smithrobs commented on #23
I need to make another attempt at explaining how configuration works in the README as this is a consistent point of confusion. There are a few facts in play here:
- .NET Framework (**not** Core) templates in Visual Studio and in general make use of XML-based web.config and <application executable>.config configuration files.
- .NET Core templates, yeoman generators, and in general make use of JSON

[2017-01-28 20:46] smithrobs commented on #22
@Pandolfou I just pushed 2.2.0-rc2 to NuGet, which fixes this issue. I expect to release 2.2.0 in the next few days, but if you need this ASAP please pull down the pre-release version from NuGet.

[2017-01-28 20:46] smithrobs commented on #21
@theonlynexus I just pushed 2.2.0-rc2 to NuGet, which fixes this issue. I expect to release 2.2.0 in the next few days, but if you need this ASAP please pull down the pre-release version from NuGet.

[2017-01-28 20:46] #21 closed

[2017-01-28 20:47] #20 closed

[2017-01-28 20:49] smithrobs commented on #4
NUnit support for .NET Core is available, but I'm having an issue getting the test runner to execute. I'll take another look at it after v2.2.0 is released.

[2017-01-28 23:35] Pandolfou commented on #22
Nice, I will check that this week!

[2017-01-29 07:43] theonlynexus commented on #21
Hi, thanks for the info and the patch. I'll wait until the official 2.2.0 release.

[2017-02-06 04:29] PrimaShella opened #24 "Using Custom SenderID for outbound SMS"
Do I need to add more applicationsetting.json or code if I want to use a custom SenderID ?
assuming I have purchased the SenderID
here is my code :
[code]

[2017-02-06 13:04] smithrobs commented on #24
You do not need to add anything else to `appsettings.json` (note it must be named that or one of the other filenames specified in the README) except API credentials. Everything else is up to you, including providing a proper SenderID/from. 😄

[2017-02-06 13:04] #24 closed

[2017-02-07 03:52] PrimaShella commented on #24
thank you very much 😄

[2017-02-13 07:32] sidsharma27 commented on #23
Adding an 'appsettings.json' is the fix for this issue. However, on the readme it says web.config should work but ASP .NET Standard MVC web apps are not able to use the CL when credentials are stored in the 'web.config' file. This should be removed or web.config should be able to store credentials as multiple instances of this issue have been reported.

[2017-02-15 18:49] sidsharma27 commented on #17
@smithrobs having the configuration issue with 2.2.0-rc2 as I was trying to get around [this error](https://github.com/Nexmo/nexmo-dotnet/issues/22) as the openssl command successfully created a new private.key file but was not able to move past the "RsaUsingSha alg expects key to be of..." error. I reverted back to 2.1.0 and the CL functionality is working fine. Any ideas?

[2017-02-15 19:33] smithrobs commented on #17
@sidsharma27 Hmm. Using 2.2.0-rc2, were you able to get any debug logs? It should be reporting a more specific message in the logs instead of the more general "alg expects key to be of..." exception.

[2017-02-15 19:41] sidsharma27 commented on #17
With 2.2.0-rc2 - I wasnt thrown that error actually
Thrown the same error as above: TypeInitializationException: The type initializer for 'Nexmo.Api.Configuration' threw an exception.
Nexmo.Api.Request.ApiRequest.GetBaseUriFor(Type component, string url)
I cannot perform **any** actions such Sending an SMS or Starting a verification.
(tried storing credentials in web.config & appsettings.json but

[2017-02-15 19:56] smithrobs commented on #17
Ah, thank you. I understand. With 2.2.0-rc2, what did the debug log say in regards to attempting to find the config file? At the debug/info level the library should be outputting the file locations and ultimately what credentials are available to the library.

Yes, 2.2.0 addresses #22 by accepting both PKCS#1 and PKCS#8 keys.

[2017-02-15 19:59] smithrobs commented on #23
I'd hate to remove the ability to configure via `web.config`, but it's the biggest source of issues for the library. I was hoping Microsoft would build out functionality I could use to address #17 but with the RTM release due in less than a month, I will figure out another path. It might end up being the removal of `web.config` support.

The core issue is that `web.config` has to be in a specific

[2017-02-16 01:07] sidsharma27 commented on #17
Updating to VS 17 RC solved the issue. I will go ahead and create a new app with 2.2.0-rc in VS 15 & c/p  the debug log in order find the issue.

[2017-02-18 10:58] leggetter commented on #22
@smithrobs from your records, when did this switch take place?

[2017-02-18 13:51] smithrobs commented on #22
@leggetter I'm not entirely sure. It was definitely working 12/7/16 (testing for 2.1.2 release). I don't have any records of generating a new application ID (when the user would receive a new key) until addressing this bug on 1/24/17, so sometime in between. Sorry I don't have anything more specific. If it were me, I would work backward from 1/24.

[2017-02-20 21:24] leggetter opened #25 "Should support full JSON structures when generating JWTs"
See: Nexmo/client-library-specification#22

[2017-03-07 03:15] stephen-riley opened #26 "Solution does not build in either VS2015 Update 3 or VS2017 RC4"
I tried both of them, stock.  Neither builds at all.

Recommend updating README.md to reflect more detailed build instructions?

[2017-03-07 13:03] smithrobs commented on #26
Would you be able to provide an error list or compile log for the VS2015 update 3 scenario along with your version(s) of .NET Framework, .NET Core, and VS installed?

You would need the following frameworks installed to have a "green" build:
- net452
- net46, net461, net462
- netstandard1.6 (.NET Core 1.0 LTS recommended)

I have tested with VS Enterprise v14.0.25431.01 Update 3 with the above fra

[2017-03-10 03:24] JanieQ opened #27 "ASP.NET MVC getting error when click to send I"
Exception Details: System.IO.FileLoadException: Could not load file or assembly 'Microsoft.Extensions.Configuration.Abstractions, Version=1.0.1.0, Culture=neutral, PublicKeyToken=adb9793829ddae60' or one of its dependencies. The located assembly's manifest definition does not match the assembly reference. (Exception from HRESULT: 0x80131040)

I am new to asp.net mvc , It works fine when I run , bu

[2017-03-10 13:27] smithrobs commented on #27
@JanieQ No problem, here to help. This helps me fix the readme if there is something unclear.

What is probably happening is you are missing some key dependencies in `project.json`. Using the NuGet console, `Install-Package` them by issuing the following commands:

[code]

You might want to check out the example projects here for comparison: here's the [.NET Core version](https://github.com/Nexmo/

[2017-03-10 13:29] smithrobs opened #28 "Update to Visual Studio 2017"
- [x] Convert solution and projects to Visual Studio 2017 Community
- [x] Convert examples to 2017

[2017-03-10 13:31] smithrobs commented on #26
referencing #28 for VS2017 conversion

[2017-03-10 22:52] smithrobs commented on #23
I have made the decision to remove `web.config` support in v3.0. The reasoning will be explained in the change log. Thanks for the feedback.

[2017-03-10 22:52] #23 closed

[2017-03-10 22:55] smithrobs commented on #17
I have made the decision to remove web.config support in v3.0. I was unable to find a good way to make use of IHostingEnvironment outside of the web application scenario.

Closing this issue. I realize it has morphed somewhat over the 3+ months it has been open and there may be a separate issue with 2.2.0 configuration. If needed, feel free to file a new issue so we can have a clean slate to work

[2017-03-10 22:55] #17 closed

[2017-03-13 02:41] JanieQ commented on #27
Thanks for the reply , I've install the three Package , but still getting the same error .

[2017-03-13 05:31] sidsharma27 commented on #27
Updating those packages in the NuGet Manage to Version 1.0.1 was a part of the fix

Also add the following dependency:
Install-Package Microsoft.Extensions.Logging -Version 1.0.1

Please reach out if you have any further issues!

[2017-03-14 05:03] JanieQ commented on #27
It works !! Thank you so much .
Just one last one problem , sorry , I should have ask it earlier ,I just realize I can't receive message ><
I have create a url using ngrok and point to the localhost port number , and setup in my account with the virtual number I'm using . Then I tried to send a message from my phone but get no response at all.

[2017-03-14 05:17] sidsharma27 commented on #27
Awesome 😄  Glad it worked!

The issue is probably the host header for Ngrok is different than IIS Express so isn't working as planned.

Fix:
After specifying which port you wish to host on in the project properties (Navigate to the Web tab, Project URL change the port number to your choosing) EX: http://localost:8080

ngrok http 8080 -host-header="localhost:8080"

That should do the trick! 😄

Plea

[2017-03-14 08:53] JanieQ commented on #27
Nothing happen . I went to my nexmo account ,and I can see that I have received the message as the dashboard show how many Inbound Message I received today.

[2017-03-14 19:52] JohannesEH opened #29 "Allow runtime configuration and do away with static implementation"
Currently the library has a very limited way of being configured. Namely through a set of predetermined .config or .json files. It would be better if this configuration was more open to being specified at runtime. This would allow settings to come from environment variables, or being loaded from a custom data store.

Also please open up the logging configuration as well.

[2017-03-14 19:57] smithrobs commented on #29
As of 2.2.0, you can do logging per [the README](https://github.com/Nexmo/nexmo-dotnet#logging) - please let me know or submit a PR if you would like to see more or something different.

Thank you for the feedback regarding configuration - this is a hot topic for the next version. We are discussing steps to move in this direction. Did you have a specific data store in mind?

[2017-03-14 20:02] JohannesEH commented on #29
Can you elaborate a little on the reasoning behind the current implementation?

[2017-03-14 20:05] JohannesEH commented on #29
I mean, why make the configuration class sealed, and why use a singleton instance?

[2017-03-14 20:18] smithrobs commented on #29
If pressed for rationalization, I suppose I would say: We have users that make use of the JSON and XML configurations. The sealed class is there because it wouldn't make sense (in my opinion) for any code to inherit from it. The singleton was simple to implement and makes it easy to enforce optional request throttling across the consuming app. I'm quite open to suggestions, and as mentioned above

[2017-03-14 21:27] JohannesEH commented on #29
Fair enough.

Well I cloned the source and had a look. My first comment is that the entire thing is static. 👎 This is an issue for your consumers (at least for me) as it will not allow them to inject your library using dependency injection. My second gripe is that the transport classes are using inconsistant .net naming like "SMS.network_code" or "NumberUpdateCommand.voiceCallbackValue". Why not g

[2017-03-14 21:29] sidsharma27 commented on #27
What do you have as the Inbound URL in the Nexmo settings? The ngrok url should be there with the correct route.
Ex: https://XXXXXXX.ngrok.io/SMS/Recieve

You can try running this quickstart [ASP .NET MVC](https://github.com/nexmo-community/nexmo-dotnet-quickstart/tree/ASPNET) and follow the instructions to receive an SMS with your credentials

[2017-03-14 22:33] smithrobs commented on #29
- Re: DI and singleton usage - We hear you loud and clear. I'm not one for defending decisions made in the past (almost 2 years now) as I cannot change that, but the present/future is something we can alter. 😄
- Re: inconsistent naming - Agreed. We have to strike a balance of not breaking user's existing code while improving the library. Both this and other breaking improvements like removing/augm

[2017-03-15 06:38] JohannesEH commented on #29
Thanks Rob, I was a little tired when I wrote the last comment, so I might have come of as a little cranky or too strong. Nexmo is a good service and I'm just eager to use it. :)

The cross-language spec is a good start, and I hope that v3 of the client library is more in line with the spec. You will have to break library consumers code no matter what, if you have to follow the spec. So, please co

[2017-03-15 07:30] JanieQ commented on #27
this is my URL = > http://a5fafe62.ngrok.io/Home/Index , It response 200 OK , so I assume is correct .

[2017-03-15 19:20] sidsharma27 commented on #27
In the Home controller your Index action method should look something like this then

[HttpGet]
public IActionResult Recieve([FromQuery]SMS.SMSInbound response)
 {
            if (null != response.to && null != response.msisdn)
            {
                Debug.WriteLine("INCOMING TEXT");
                Debug.WriteLine("From: " + response.msisdn);
                Debug.WriteLine(" Message: " +

[2017-03-20 03:52] JanieQ commented on #27
sorry for the late reply , I've tested it out , and using the quickstart works for me too , Thank You ^^

[2017-03-20 07:15] sidsharma27 commented on #27
Glad to hear it 😄 Feel free to reach out with any other questions!

[2017-03-20 07:15] #27 closed

[2017-05-10 21:01] Benjamin1973 opened #32 "Security Exception on live server only"
I successfully sent messages from my development computer, but on live server an exception is thrown:

_System.TypeInitializationException: The type initializer for 'Nexmo.Api.Configuration' threw an exception. ---> System.Security.SecurityException: Request failed. at Nexmo.Api.Configuration..ctor() at Nexmo.Api.Configuration..cctor() --- End of inner exception stack trace --- at Nexmo.Api.Reques

[2017-05-10 22:35] smithrobs commented on #32
Is this an ASP.NET web application? If so, do you know what trust level the web application is running at in production?

We haven't tested anything other than full trust - without testing, I would guess anything less than high trust will not work.

[2017-05-11 01:25] Benjamin1973 commented on #32
Nice call.

I'm testing Nexmo on a Godaddy hosted site, and the default trust level was set to "medium."  Problem fixed, message successfully sent.

[2017-05-11 04:28] Benjamin1973 opened #33 "Unicode?"
My first messages in Korean were received with broken characters.  So I tried adding `type = "unicode"` to my SMSRequest.  It didn't throw an exception, but the message never went out (or at least it wasn't ever received).  Same thing happened if I tried a garbage type "uniasdfoiasdfoisa" or whatever.

When I try to use URLEncoding a plain text message a la https://docs.nexmo.com/messaging/sms-api

[2017-05-11 12:35] smithrobs commented on #33
This works for me on Win + netcore:

[code]

Try that first and let me know.

Feel free to contact me on the [Nexmo slack](https://nexmo-community-invite.herokuapp.com/) for a bit more real-time communication if you'd like.

[2017-05-11 14:47] smithrobs commented on #33
(from Slack) Additional test cases that worked for me in Win/.NET Framework 4.5.2 from US Nexmo # to US test cell #
[code]
Doesn't seem to be a library issue. Leaving this open for now as @Benjamin1973 is going to contact Nexmo Support for further assistance.

[2017-06-02 04:52] VagyokC4 opened #34 "ArgumentException: You must provide at least one type of authentication via configuration!"
I'm trying to verify the configuration using:
[code]
which throws the following error:
[code]
I have the following in my appsettings.json
[code]
How can I configure this library through code? since it appears it's not picking up from the json file.

[2017-06-03 02:54] smithrobs commented on #33
Closing; identified as not a library issue.

[2017-06-03 02:54] #33 closed

[2017-06-03 03:02] smithrobs commented on #34
Unfortunately, depending on how you run the app it can be tricky to say exactly where the json needs to be. You can [turn on logging](https://github.com/Nexmo/nexmo-dotnet#logging) to get a better idea of where the file is being looked for. Also, check out the [quickstart example](https://github.com/nexmo-community/nexmo-dotnet-quickstart) (there are two branches - one for aspnet and one for netco

[2017-06-14 19:35] pkopchik commented on #22
I am having this same problem using the Nexmo.Api and have built the project locally, upgrading it to a Visual Studio 2017 project. I have tried the conversion of the private key and go my finger on the offending line of code. I have gotten past that but not in a way that works so first see this:
![nexmoapi jwt error](https://user-images.githubusercontent.com/29332178/27150974-1d8d4ac8-5117-11e7-9

[2017-06-14 21:31] pkopchik commented on #22
After some wrangling with the code, I simply updated the jose-jwt package to v2.3.0 (noticed that the v.2.0.0 was "not available in this source") and voila! It worked with the PKCS#8 key I had created using the Node.js app. At any rate thanks to Git.Hub for being here and Nexmo support for redirecting me to what I already found here.

[2017-06-15 01:19] smithrobs commented on #22
@pkopchik Interesting! Thank you for documenting your fix. I will update the reference, test, and push out a new version to NuGet.

[2017-06-19 17:50] #22 closed

[2017-06-21 07:13] billbgarland commented on #34
Hi,
it seems like many people are having problems configuring the Nexmo library code in .NET. I am trying to set up the config in web.config which should work with v2.2.1 but I get the same exception.

I am new to .NET programming and struggling to understand why configuring the library is so difficult. It would be useful for me if Rob could explain the mechanism his code uses to get the config. I

[2017-06-21 13:07] billbgarland commented on #34
I gave up and created a my appsettings.json file which sorted the problem. I am now struggling with JWT and how to configure Nexmo.Application.Key

[2017-06-21 13:16] smithrobs commented on #34
appsettings.json works much better in general and is the official MS solution for going forward, so awesome! :)

Nexmo.Application.Key should be the path to your saved (on disk) application private key that you received when registering your application with Nexmo.

If you've joined the Nexmo Slack, it might be better to chat with someone there (possibly even me) to walk through any questions.

[2017-06-29 22:58] dpihac commented on #34
I'm using LINQPad to do some quick prototyping and lack of code based configuration is a big problem for me. Disappointing.

[2017-06-30 08:43] NicoJuicy commented on #34
Yeah, not a fan of the magic credentials either. Their should be a method where the credentials can be supplied.

Setting up the credentials has taken 90% of the time for sending a templated Message for multiple clients, where i fetch their data through odata on a cloud api.

This shouldn't be, i setup a unit test and have the following files:
- app.config
- appsettings.json
Nexmo.ContactDLL.Testi

[2017-06-30 12:49] smithrobs commented on #34
@NicoJuicy I would never suggest for you to do not something you want to do, but I urge you to wait just until this weekend. I do have this mostly done in my 3.0 branch so your work would sadly be in vain.

In 3.0 the entire Nexmo.Api.Configuration is removed (see the branch) and everything is configurable via an instance.

Right, the credentials overload still unfortunately requires a valid confi

[2017-06-30 16:15] smithrobs commented on #34
@dpihac @billbgarland @VagyokC4 I'll be pushing to the 3.0 branch as well as a NuGet prerelease in just a little bit, but here's a quick preview of what you will be able to do:

[code]

I appreciate and welcome any feedback.

[2017-06-30 16:16] smithrobs commented on #34
Also, just for housekeeping purposes I am closing this issue since it has turned into a discussion of #29. Please continue discussion there. Thanks!

[2017-06-30 16:16] #34 closed

[2017-06-30 17:01] smithrobs opened #35 "Update readme and examples for 3.0"

[2017-06-30 17:03] smithrobs opened #36 "Normalize inconsistent naming"
See #29 for examples; should follow .NET conventions across the codebase.

[2017-06-30 17:04] smithrobs commented on #28
2017 support is in the 3.0 branch. Examples have been moved to the Nexmo community examples github.

[2017-06-30 17:04] #28 closed

[2017-06-30 17:06] smithrobs opened #37 "Support .NET Standard 2.0/Core 1.1"
Ensure everything works with .NET Standard 2.0/Core 1.1/2.0

- [ ] Address breaking `Microsoft.Extensions.DependencyInjection` change ([details](https://github.com/aspnet/DependencyInjection/issues/550))

[2017-06-30 17:09] smithrobs commented on #29
@dpihac @billbgarland @VagyokC4 @JohannesEH Sorry to mention y'all again, but I would love to get real user feedback and involvement with 3.0. If you have any additional suggestions around the code and capabilities for 3.0, please either comment in here or create a separate issue to discuss. Feel free to reach out on the Slack as well.

[2017-07-06 08:07] dpihac commented on #29
Hey @smithrobs, thanks for update. I will test 3.0 sometime this week and let you know how it goes. Thanks for pushing it to NuGet!

[2017-07-08 08:56] dpihac commented on #29
@smithrobs I successfully tested 3.0 prerelease in LINQPad - test scenario worked well so I'll be pushing this to production (sending SMS from the Airtable table). I'm not sure if there are any issues that would prevent me from doing so?

[2017-07-08 13:29] smithrobs commented on #29
@dpihac Good to hear! The only issue is that since it's a pre-release, the code will likely change between now and 3.0 stable. The [3.0 milestone](../milestone/3) has a current representation of what may change. You may then need to change your code to move to 3.0 stable.

[2017-07-18 19:11] deepamalikworldpay opened #38 "You must provide at least one type of authentication via configuration! on Asp.net Core 1.1.2"
Vs Studio 2017
Asp.net Core 1.1.2
Nexmo Csharp Client 2.2.2

Api key,secret and from number are from account settings

Code below for sending sms

                 SMSRequest s = new SMS.SMSRequest();
                s.from = "111111111";
                s.to = "11111111";
                s.text = "hello from web api asp.net ``core";`
                Nexmo.Api.Request.Credentials c = new Nexmo.Api

[2017-07-18 19:13] smithrobs commented on #38
Would you try this with the [3.0.0.-pre1](https://www.nuget.org/packages/Nexmo.Csharp.Client/3.0.0-pre1) nuget package? That removes the requirement for config files.

```Install-Package Nexmo.Csharp.Client -Pre```

[2017-07-18 19:43] deepamalikworldpay commented on #38
It worked.
Thanks,
Deepa

From: Rob Smith [mailto:notifications@github.com]
Sent: Tuesday, July 18, 2017 2:14 PM
To: Nexmo/nexmo-dotnet <nexmo-dotnet@noreply.github.com>
Cc: Deepla Malik <Deepla.Malik@securenet.com>; Author <author@noreply.github.com>
Subject: Re: [Nexmo/nexmo-dotnet] You must provide at least one type of authentication via configuration! on Asp.net Core 1.1.2 (#38)

Would you try

[2017-07-18 19:44] #38 closed

[2017-08-03 18:27] khaledelmahdi opened #40 "TypeInitializationException: The type initializer for 'Nexmo.Api.Configuration' threw an exception."
Hi,

Using AspNetCore Core 2.0.0-preview2-final and Nexmo.Csharp.Client 3.0.0-pre1

My `appsettings.json`:

[code]

My interface:

[code]

My class:

[code]

and finally on my `Startup.cs` under `ConfigureServices` I have:

[code]

When I try to send a message I get the following errors:
[code]

Any idea what I am doing wrong?

[2017-08-03 18:28] smithrobs commented on #40
Hey @khaledelmahdi ! Sorry - what was the error message?

[2017-08-03 18:33] khaledelmahdi commented on #40
Sorry, here it is:

[code]

[2017-08-03 21:12] smithrobs commented on #40
I could get your code to run with aspnet core 1.1.3 and the nexmo 3.0.0-pre1 library. I tried to get 2.0.0-preview2-final to cooperate with my mac environment, but ran into issues. Current thoughts:

- Since aspnet core 2 is still in preview, can you try using aspnet core 1.1.3?
- I will try to see if I can get 2.0.0-preview2 running in my Windows environment.

[2017-08-03 21:23] khaledelmahdi commented on #40
Sadly downgrading is not an option here. I'll wait and see, hopefully you will find out what is wrong.

Thanks.

[2017-08-03 22:54] khaledelmahdi commented on #40
After googling, it seems this error due to version deferences in dot net.

So until .net core 2 is release, and you have a version compatible with it, I'll just use this code to send SMS:

[code]

Thanks.

[2017-08-04 02:29] smithrobs commented on #40
I see, yes. Thank you for bringing this to our attention. We will have to address for aspnet core 2 due to [this issue in DI](https://github.com/aspnet/DependencyInjection/issues/550). Closing this and will add a note to #37

[2017-08-04 02:29] #40 closed

[2017-08-04 19:07] smithrobs opened #41 "Support Xamarin"
Ensure v3.0 supports Xamarin/Mono

[2017-08-16 06:02] kentplaza opened #42 "Web Config Not Working in v2.2.2"
I am using v2.2.2. the api and key_secret must place in appsettings.config? It work if i place in appsetting but not in web.config.

But saw the doc mention it will read the config file by precedence.
![image](https://user-images.githubusercontent.com/9535716/29349290-85941606-828b-11e7-8bf3-cf95de278cb2.png)

Can I place in web.config cause I hope my api key can place in same place for my solutio

[2017-08-18 02:52] smithrobs commented on #42
You can place the credentials in `web.config`. The library can have issues getting the path to web.config correctly, but if you're using .NET Framework on Windows you should be fine.

I do want to let you know that v3.0 will have no built-in configuration support. You will need to provide your API key and secret to the client instance and methods on your own. There is a 3.0-pre NuGet package if yo

[2017-08-20 14:26] khaledelmahdi commented on #37
Any update? .NET 2.0 has been released already.

[2017-08-20 14:27] #42 closed

[2017-08-21 12:17] judy2k opened #43 "Implement `submitConversion`"

[2017-08-21 12:20] judy2k opened #44 "Implement `getRecording`"

[2017-08-21 12:21] smithrobs commented on #43
Spec is [https://developer.nexmo.com/api/conversion](here).

[2017-08-21 12:23] smithrobs commented on #44
Spec is [here](https://developer.nexmo.com/voice/voice-api/guides/record-calls-and-conversations).

[2017-08-21 12:26] judy2k opened #45 "Implement `transferCall`"

[2017-08-21 12:30] judy2k opened #46 "Implement `earmuffCall`"
Specification is [here](https://developer.nexmo.com/api/voice#payload-3)

[2017-08-21 12:31] judy2k opened #47 "Implement `unearmuffCall`"
Specification is [here](https://developer.nexmo.com/api/voice#payload-3)

[2017-08-21 12:34] judy2k opened #48 "Implement `muteCall`"
Specification is [here](https://developer.nexmo.com/api/voice#payload-3)

[2017-08-21 12:35] judy2k opened #49 "Implement `unmuteCall`"
Specification is [here](https://developer.nexmo.com/api/voice#payload-3)

[2017-08-21 12:44] judy2k opened #50 "Implement `listNumbers`"

[2017-08-21 12:47] judy2k opened #51 "Implement `linkNumber`"

[2017-08-21 12:50] judy2k opened #52 "Implement `getInsightStandard` with CNAM"

[2017-08-21 12:50] judy2k opened #53 "Implement `getInsightAdvanced` with CNAM"

[2017-08-21 12:51] judy2k opened #54 "Implement `getInsightAsync`"

[2017-08-21 12:55] judy2k opened #55 "Implement signed request authentication"

[2017-08-21 12:56] judy2k opened #56 "Implement OAuth Authentication"

[2017-08-23 11:50] smithrobs commented on #45
Part of the [PUT /v1/calls/{uuid}](https://developer.nexmo.com/api/voice#modify-an-existing-call) endpoint.

[2017-08-23 11:50] smithrobs commented on #46
Part of the [PUT /v1/calls/{uuid}](https://developer.nexmo.com/api/voice#modify-an-existing-call) endpoint.

[2017-08-23 11:51] smithrobs commented on #47
Part of the [PUT /v1/calls/{uuid}](https://developer.nexmo.com/api/voice#modify-an-existing-call) endpoint.

[2017-08-23 12:06] smithrobs commented on #48
Part of the [PUT /v1/calls/{uuid}](https://developer.nexmo.com/api/voice#modify-an-existing-call) endpoint.

[2017-08-23 12:09] smithrobs commented on #50
@judy2k Is [the current Account.Numbers method](https://github.com/Nexmo/nexmo-dotnet/blob/master/Nexmo.Api/Account.cs#L158) missing something specific? I'll take a closer pass when I go about implementing the rest of these issues.

[2017-08-23 12:15] smithrobs commented on #51
Part of call-tracker, see [this for details](https://developer.nexmo.com/tutorials/call-tracking#link-phone-numbers-to-the-nexmo-application) and [this for implementation](https://github.com/Nexmo/nexmo-cli/blob/master/src/request.js#L219).

[2017-08-23 12:19] smithrobs commented on #37
Still working on it - I'm on a push to get another v3 pre-release out by end of month. I'll see if I can expedite Standard/Core 2.0 support.

[2017-09-19 16:57] wgpsutherland commented on #37
Hi, is there any update on when support for .NET 2.0 will be available?

[2017-09-21 12:41] RabebOthmani commented on #50
confirming what @smithrobs mentioned, this is already implemented. @judy2k are you happy with the implementation? Can we get rid of this issue? Thanks

[2017-09-22 07:49] judy2k commented on #50
I raised this issue based on the feature spreadsheet we have internally at Nexmo. Closing.

[2017-09-22 07:49] #50 closed

[2017-09-22 14:42] smithrobs commented on #37
I just published pre2 that moves from 1.6 to 2.0. I was able to ref and use this with Core 2.0. Please test and let me know if you run into any issues. Thanks!

[2017-09-22 14:42] #37 closed

[2017-09-22 14:44] smithrobs commented on #4
Tests are (mostly) working in the 3.0 branch. There are still some inconsistencies that will be resolved before the non-pre 3.0 release.

[2017-09-22 14:44] #4 closed

[2017-09-22 14:51] smithrobs commented on #26
Updated build support in the `3.0` branch. Per the README:

- 4.5.2
- 4.6, 4.6.1, 4.6.2
- .NET Standard 2.0

Visual Studio 2017 is required (Community is fine). v15.3.5 is recommended.

Closing this as it's going on 6 months old and VS2017 (3.0 branch of this lib) seems to be working for others (@RabebOthmani ?). I'd be happy to revisit if needed.

[2017-09-22 14:51] #26 closed

[2017-09-25 13:40] cataliz3er opened #58 "WPF configuration issue"
How do you configure Nexmo for WPF applications. Where exactly in the app.config file should the <appSettings> be placed?
I placed it in the <Configuration> tag, and I get an Argument Exception: You must provide at least one type of authentication via configuration! when I call SMS.Send(...).
Thanks!

[2017-09-25 13:43] smithrobs commented on #58
Hey @cataliz3er - you are better off trying one of the v3.0.0 pre-releases. We are moving away from handling configuration-via-files in the library to **your code** providing credentials as you see fit. Let me know if this is a problem or if you have any questions.

Example usage via v3.0:
[code]

[2017-09-25 13:53] cataliz3er commented on #58
The type or namespace name 'Client' could not be found.
I installed the API via Nuget.
Tries passing creds as parameter to SMS.Send()
![capture nexmo 3](https://user-images.githubusercontent.com/16380896/30811744-c452d008-a211-11e7-8f16-c889d77d3c58.PNG)

[2017-09-25 14:04] smithrobs commented on #58
How about something like this example?

1. Install v3.0.0-pre2

`Install-Package Nexmo.Csharp.Client -Version 3.0.0-pre2`

2. Use something like the code below:
[code]

[2017-09-25 14:06] smithrobs commented on #58
Also I encourage anyone using Nexmo to join the Nexmo Slack - there's always someone (like me) around to help out usually in real-time: https://developer.nexmo.com/community/slack

[2017-09-26 18:42] smithrobs opened #59 "Call.Endpoint should support `dtmfAnswer`"

[2017-09-28 09:40] cataliz3er commented on #58
Works! Thanks a lot!

[2017-09-28 13:45] leggetter commented on #58
@smithrobs @RabebOthmani - I love the `Nexmo.Api.Client` 🙌

[2017-09-29 01:53] fmonroe commented on #37
Hi. I just posted on the Slack channel. I have this issue. ASP.NET Core 2 , 3.0.0-pre2, VS2017. Is there something I am missing? Thanks.

[2017-09-29 04:09] smithrobs commented on #37
@fmonroe Thank you. I just published 3.0.0-pre3 that fixes the ASP.NET Core 2 Microsoft.Extensions.DependencyInjection change for real this time.

netstandard1.6 is built against Microsoft.Extensions.DependencyInjection v1.0.2 - use this for ASP.NET Core 1
netstandard2.0 is built against Microsoft.Extensions.DependencyInjection v2.0.0 - use this for ASP.NET Core 2

I'm only using the built-in DI f

[2017-09-29 04:12] #58 closed

[2017-09-29 05:13] fmonroe commented on #37
WoW! It's now working as expected. Thank you for the quick turnaround. I love this Api. :)

[2017-10-03 19:24] amitkaushal80 opened #60 "Cant send sms in UAT but same code working fine in DEV Envoirnment"
When I am trying to send the sms in UAT i am getting the following Exception
System.TypeInitializationException: The type initializer for 'Nexmo.Api.Configuration' threw an exception. ---> System.MissingMethodException: Method not found: '!!0[] System.Array.Empty()'. at Nexmo.Api.Configuration..ctor() at Nexmo.Api.Configuration..cctor() --- End of inner exception stack trace --- at Nexmo.Api.Reque

[2017-10-03 19:27] smithrobs commented on #60
- Which version of the Nexmo C# library are you using? v2.2.2 or a v3.0.0-pre release? I assume v2.2.2 but want to be sure.
- Does the .NET Trust level differ in UAT from your dev environment? v2.2.2 requires at least `High` trust.

[2017-10-03 19:46] amitkaushal80 commented on #60
Yes .net version is v2.2.2 in both Dev enviornment and UAT

[2017-10-03 19:48] amitkaushal80 commented on #60
.Net Framework is 4.6.1 and Nexmo C# library v2.2.2 in both UAT and Dev

[2017-10-04 04:42] amitkaushal80 commented on #60
Trust Level in UAT is Full

[2017-10-04 12:18] smithrobs commented on #60
Thank you for the information. Let me see if I can reproduce this.

In the meantime, since the stack trace indicates this is happening in the Configuration class, you may want to try v3.0.0-pre:

`Install-Package Nexmo.Csharp.Client -IncludePrerelease`

This removes the file-based configuration entirely and lets you (the library consumer) manage and pass in credentials as you see fit.

[2017-10-04 12:51] amitkaushal80 commented on #60
I just noted that version in UAT is 4.5.50709 and in development 4.6.01590. Should i update .net in UAT before trying v30.0-pre.

[2017-10-04 13:31] smithrobs commented on #60
Interesting. Disclaimer: I try not to give out too much environment advice as it's tricky to get 100% right, but if that is true then I would say yes, try updating your UAT.

4.6.01590 is .NET 4.6.2
4.5.50709 is .NET 4.5 RTM which I don't know how/if it would run an app targeted for v4.6.1.

Please let me know if doing this addresses your question. Thanks!

[2017-10-04 13:39] amitkaushal80 commented on #60
can i downgrade the .net version to 4.5 RTM in Development?. Will nexmo work on that ?

[2017-10-04 13:50] smithrobs commented on #60
Unfortunately, you would have to pull the library source and build on your own for reasons described in [this issue](https://github.com/Nexmo/nexmo-dotnet/issues/3). v4.5 is no longer supported by Microsoft and therefore we do not officially support it either. You **can** update to v4.5.2 which **is** targeted by the NuGet package.

[2017-10-05 15:46] smithrobs opened #61 "Consolidate .NET Framework support"
See https://blogs.msdn.microsoft.com/dotnet/2017/09/28/net-framework-4-7-1-runtime-and-compiler-features/

4.6.1, 4.6.2, 4.7, 4.7.1 could all be serviceable from netstandard2.0

[2017-10-07 03:14] amitkaushal80 commented on #60
Thank alot for your help. After updating to .net 4.7 it is working fine.
 I have one more question-  can we associate the each sms with user information like appointmentid, so that when user respond to that particular message we can check which user replied which sms (or which appointmentid)

[2017-10-17 12:34] tommorris opened #63 "Add support for Media API"

[2017-10-18 06:22] pmaxim opened #64 "Call.Do(comand) - production error"
I have a voice call on my computer. When placed in production (Windows IIS).
The file private.key finds successfully, but gives an error "Value cannot be null.
Parameter name: value"
The file *.key created:
1. Nexmo.Api.Application.Create(appRequest, cr);
2. nexmo app:create
3. site
In all cases, the same error
Tell me what could be the problem?
Thanks
Maxim (Kiev, Ukraine)

[2017-10-18 08:34] pmaxim commented on #21
I have a voice call on my computer. When placed in production (Windows IIS).
The file private.key finds successfully, but gives an error "Value cannot be null.
Parameter name: value"
The file *.key created:

Nexmo.Api.Application.Create(appRequest, cr);
nexmo app:create
site
In all cases, the same error
Tell me what could be the problem?
Thanks
Maxim (Kiev, Ukraine)

[2017-10-20 16:08] pmaxim opened #65 "Creating an NCCO Provider"
Everything works when you use it https://nexmo-community.github.io/ncco-examples/first_call_talk.json
If I take this file from my site, the sound does not play
The software solution does not work either
 public HttpResponseMessage NexmoVoice()
      {
        var m = new List<TextModel>();
        var js = new TextModel
        {
          action = "talk",
          voiceName = "Russel",

[2017-10-26 13:57] tsagld opened #66 "ArgumentException: You must provide at least one type of authentication via configuration!"
It seems that the Nexmo configuration cannot find the appsettings.json containing the authentication parameters.
When my application starts, the Nexmo.Csharp.Client fails in the constructor of Nexmo.Api.Configuration, with the following exception:

**ArgumentException: You must provide at least one type of authentication via configuration!**

Things I tried:
* Move the json settings file into my C

[2017-10-27 11:07] jacob8000 opened #67 "You must provide at least one type of authentication via configuration"
I know there is a closed issue with the same title but this is totally different issue.
I recently tried to embed Nexmo API in our systems.
We use Nexmo API to send SMS messages.

Everything works well in WinForm and Console application.
However, when we switch to WS service, we get this exception:

[code]

web.config:

add key="Nexmo.UserAgent" value="myApp/1.0" />
add key="Nexmo.Url.Rest" value=

[2017-10-27 12:39] smithrobs commented on #67
Are you using v2.2.2? This is fixed in the v3.0 pre-releases.

The problem in v2.2.2 exists because of [this code](https://github.com/Nexmo/nexmo-dotnet/blob/master/Nexmo.Api/Configuration.cs#L75). If for any reason your configuration file is not found (which it sounds like it isn't) then the library will throw the exception.

The history of this choice is long - we wanted to keep in-line with .NE

[2017-10-27 12:40] smithrobs commented on #66
I assume you are using v2.2.2? Could you try the v3.0 prerelease? v3.0 removes the need for file configuration and lets you handle it by yourself.

[2017-10-27 12:53] smithrobs commented on #64
Thank you for your patience. You may receive this error when Nexmo rejects your call request - I tend to get this when I forget I've changed my Nexmo phone number. Check your "from" number (and your "to" just in case). The "from" must be Nexmo and the "to" must accept the call. Let me know if you still have this issue or if verifying your "from" addresses this.

[2017-10-27 14:00] pmaxim commented on #64
Thank you. I corrected this mistake. It was required to close static files in ANSI format (Visual Studio - Json files UTF-8).
I now have 2 new problems:
1. The software created by the NCCO does not work.  For example ApiController return model.
2. Static files work. But when calling from a virtual phone NEXMO to an American mobile phone - on it the calling number is displayed as Unknown.

[2017-10-27 14:03] jacob8000 commented on #67
Thank you for your reply.
Where can I find a build of version 3.0 (I can not build it by myself as we don't have VS2017 here, only 2015).
Thank you

[2017-10-27 14:08] smithrobs commented on #64
👍 Ah, yes - the encoding issue is something that needs fixed as a part of #8 . Thanks for the feedback.

#1 - I will take a look at the NCCO issue separately.
#2 - Check out this [support article](https://help.nexmo.com/hc/en-us/articles/204015273) and if that doesn't clear things up, please send your query to support@nexmo.com as they would be better able to assist you in this case.

Closing sinc

[2017-10-27 14:08] #64 closed

[2017-10-27 14:11] smithrobs commented on #67
Sure. You can install the latest prerelease via Nuget:

`Install-Package Nexmo.Csharp.Client -Version 3.0.0-pre3`

[2017-10-27 15:14] jacob8000 commented on #67
What an amazing and fast support!
It works well now.
Thank you very much!

[2017-10-27 15:14] #67 closed

[2017-10-29 03:38] pmaxim commented on #64
Hello.
I have a problem preserved.

Call.Do(comand); calling number "unknown"

 var comand = new Call.CallCommand
      {
        to = new[]
        {
          new Call.Endpoint
          {
            type = "phone",
            number = Nexmo Virtual number "17022769530"
          }
        },
        from = new Call.Endpoint
        {
          type = "phone",
          number = American numbe

[2017-10-30 08:48] tsagld commented on #66
I'll stick with 2.2.2....I found that moving the settings to the app.config solves the problem. I can stll reproduce the problem by using appsettings.json.

Thanks for the quick answer.

[2017-10-30 16:36] jonHumphries opened #68 "Errors throw a key cannot be found exception"
When an incoming message to the system is an error, a key cannot be found exception is thrown and the original message is hidden.
While this ticket is for the .Net library, in the python version this was caused by an attempt to read the 'Direction' which is not part of the error schema.

This causes major problems in both development and production environments as we receive no error messaging and

[2017-10-30 17:29] smithrobs commented on #68
I'm happy to ensure this is not an issue with the .NET library and will resolve it if needed. That said, which "incoming meesage" are you referring to? The Voice Call API? It [looks like it is present](https://github.com/Nexmo/nexmo-dotnet/blob/master/Nexmo.Api/Voice/Call.cs#L117) in the v2.2.2 code.

Please help me out by describing exactly where/when you are receiving this exception by providing

[2017-10-30 17:30] smithrobs commented on #66
Thanks for the info and glad you found a resolution. Going to leave this open until v3.0 is released.

[2017-10-30 18:17] jonHumphries commented on #68
Aloha,
    This is just in the voice api (as far as i know, we don't use the sms api).  It seems to be that anytime we submit an invalid request we get a Key cannot be found Error in Newtonsoft.Json.  The easiest scenario to duplicate is to have the wrong application id in the appsetting.json file.  Other scenarios where we don't get the correct error message from nexmo due to the key cannot be fo

[2017-10-30 20:27] smithrobs commented on #68
Thank you; I will try to reproduce.

v2.x uses VS2015 Update 3 (community should be fine). If you have a moment and care to, feel free to open a separate issue with details on the build/compile error so I could correct it.

Say hi to Jeff for me! 😄

[2017-10-30 22:44] jonHumphries opened #69 "failed to load project on vs2015"
Aloha,
   The downloaded code is xproj type which is not recognized by vs2015 (i'm on professional edition).  It takes a bit of work but i can convert it from xproj to csproj using vs2017; however, thats not a valid edition for our shop yet so we can't use the converted project in vs2015.  I think if you can get it to output a csproj file instead of an xproj file most versions of VS should be able

[2017-10-30 22:44] jonHumphries commented on #68
Done,

Jeff says feel free to hit him up on slack 😉

Sent from Mail for Windows 10

From: Rob Smith
Sent: Monday, October 30, 2017 10:27 AM
To: Nexmo/nexmo-dotnet
Cc: jonHumphries; Author
Subject: Re: [Nexmo/nexmo-dotnet] Errors throw a key cannot be found exception(#68)

Thank you; I will try to reproduce.
v2.x uses VS2015 Update 3 (community should be fine). If you have a moment and care to, fee

[2017-11-06 08:19] gilbert031693 commented on #22
I am having the same problem using nexmo voice api my jose-jwt package is v2.3.0 but I got this error on the image below. I also tried to update v2.4.0 unfortunately nothing happens.

![rs256](https://user-images.githubusercontent.com/33366228/32431266-c905d5a6-c30d-11e7-9e5c-3a889f3725d1.jpg)

[2017-11-06 21:40] jonHumphries commented on #68
Any luck with either bug?

Sent from Mail for Windows 10

From: Rob Smith
Sent: Monday, October 30, 2017 10:27 AM
To: Nexmo/nexmo-dotnet
Cc: jonHumphries; Author
Subject: Re: [Nexmo/nexmo-dotnet] Errors throw a key cannot be found exception(#68)

Thank you; I will try to reproduce.
v2.x uses VS2015 Update 3 (community should be fine). If you have a moment and care to, feel free to open a separate

[2017-11-07 13:09] #69 closed

[2017-11-07 13:13] smithrobs commented on #69
@jonHumphries We now specify the .NET Core SDK to develop against (v1.0.1, 1.0.0-preview2-003131) in 2015 and everything is working as far as I can tell. When you have a few minutes please try getting latest from master and see if you can compile without issue. The README has been updated with the more specific .NET Core SDK requirements.

[2017-11-07 13:36] smithrobs commented on #68
Is the original issue here that you receive a 401 Unauthorized but get a json deserialization error similar to the following?

[code]

If so, this ties in #7 where this library as a whole does a minimum job _at best_ in handling errors. Logging via `logging.json` can be a bit more helpful as you *will* see the 401 error in the log there.

Let me think a bit more about throwing something like an `A

[2017-11-07 13:39] smithrobs commented on #22
@gilbert031693 Would you provide the version of Windows and .NET that you are running when you receive this exception?

[2017-11-07 13:51] smithrobs commented on #65
This is more of a scenario/usage question - you should visit the [quickstart project here](https://github.com/nexmo-community/nexmo-dotnet-quickstart/tree/ASPNET/NexmoVoiceASPNetCoreQuickStarts) which serves NCCO and includes a [helper class](https://github.com/nexmo-community/nexmo-dotnet-quickstart/blob/ASPNET/NexmoVoiceASPNetCoreQuickStarts/Helpers/NCCOHelpers.cs) that might be of use.

[2017-11-07 13:51] #65 closed

[2017-11-07 13:56] sammachin opened #70 "endpoint doesn't support websocket or sip"
The class `endpoint` in https://github.com/Nexmo/nexmo-dotnet/blob/master/Nexmo.Api/Voice/Call.cs#L10
Assumes that an endpoint always has a number param this is only true when the type is phone, it could also be a type `websocket` with a `uri` and other optional params, or type `sip` with just a `uri`

[2017-11-07 15:29] jonHumphries commented on #68
Yes that's the original problem.  When the results are deserialized and there is an error message ir sill looks for the ‘direction’ key even though that isn't part o the API, so a major bug. If yu tested to see if direction was present or handled errors differently from other requests, that would be fantastic.
As I understand it the logging requires staring at this console app which requires use o

[2017-11-07 15:55] smithrobs commented on #68
Quick clarification re: logging - This .NET lib does not require nodejs for logging; see [the readme logging section](https://github.com/Nexmo/nexmo-dotnet#logging) for details. It makes use of `Microsoft.Extensions.Logging`. You should be able to log to a file instead of the console. I think I have an example around here somewhere - I'll see if I can add that to the readme.

Thanks for the confir

[2017-11-07 16:58] jonHumphries commented on #68
Oh that’s so awesome, the console solution was driving me nuts.  I’ll get all of this over to Jeff today and have him go through it.  Looking forward to the release 😊

Thanks Rob!!

Sent from Mail for Windows 10

From: Rob Smith
Sent: Tuesday, November 7, 2017 5:55 AM
To: Nexmo/nexmo-dotnet
Cc: jonHumphries; Author
Subject: Re: [Nexmo/nexmo-dotnet] Errors throw a key cannot be found exception(#68)

[2017-11-07 23:28] gilbert031693 commented on #22
@smithrobs  I'm running .Net 4.5.2

[2017-11-08 02:23] gilbert031693 commented on #22
Hi @smithrobs also trying Nexmo this I got an issue with the Call.Do() method, kindly attached image for your reference.
![image pasted at 2017-11-8 10-20](https://user-images.githubusercontent.com/33366228/32528534-79e841b8-c46e-11e7-8b61-6c094a6d94fd.png)

[2017-11-08 02:45] gilbert031693 commented on #66
Hi @smithrobs also trying Nexmo this I got an issue with the Call.Do() method, kindly attached image for your reference.
![image pasted at 2017-11-8 10-20](https://user-images.githubusercontent.com/33366228/32529156-de13d334-c471-11e7-98b8-bad0f26661f7.png)

[2017-11-08 12:51] smithrobs commented on #22
@gilbert031693 I have received reports in the past of issues with the `RSACryptoServiceProvider` in 4.5.2. Is there any way you can try your code with a different framework version like 4.6.x?

[2017-11-09 17:01] #70 closed

[2017-11-09 19:15] smithrobs commented on #60
@amitkaushal80 You will want to use the `client-ref` property referenced [in the docs here](https://developer.nexmo.com/api/sms#parameters). You will need to email support@nexmo.com to enable this for your account.

[2017-11-09 19:15] #60 closed

[2017-11-09 20:06] smithrobs commented on #68
I'm performing final testing on 2.3.0. Here's what this issue influenced:
- Introduced `Nexmo.Api.EnsureSuccessStatusCode` configuration option. You may instruct the library to throw an exception if a request results in an unsuccessful HTTP status code.
- Expose the configuration `ILoggerFactory` for use with external logging implementations.
- Added file logging example to `Nexmo.Samples.Coverage

[2017-11-09 20:14] jonHumphries commented on #68
Awesome, thank you!

Sent from Mail for Windows 10

From: Rob Smith
Sent: Thursday, November 9, 2017 10:06 AM
To: Nexmo/nexmo-dotnet
Cc: jonHumphries; Author
Subject: Re: [Nexmo/nexmo-dotnet] Errors throw a key cannot be found exception(#68)

I'm performing final testing on 2.3.0. Here's what this issue influenced:
• Introduced Nexmo.Api.EnsureSuccessStatusCode configuration option.. You may instr

[2017-11-12 22:03] grahambunce opened #71 "Newtonsoft.Json.JsonConvert.DeserializeObject Argument Null exception"
Hi

I'm running the 3.0.0 pre3 nuget package. I *think* everything is set up correctly but when I make a Voice call I get a "Argument Null exception" in NewtonSoft. I'm using it in an async pattern and this may be messing up my stack trace, as I don't get any hint as to where this is be thrown.

I think it's in here

[code]
as this is the only place in the stack that I can see NewtonSoft being cal

[2017-11-12 22:21] smithrobs commented on #71
It's _possibly_ because your credentials weren't accepted. You might want to try [logging](https://github.com/Nexmo/nexmo-dotnet#logging) to see if that is the case. I'll still take a look just in case it's something else.

[2017-11-20 18:55] jonHumphries commented on #68
Hey Rob, still getting the same error on 2.3.  Newtonsoft is unable to deserialize the response on whatever I sent wrong.  I’ll see if I can open the project in VS 2015 now.

Sent from Mail for Windows 10

From: Rob Smith
Sent: Thursday, November 9, 2017 10:06 AM
To: Nexmo/nexmo-dotnet
Cc: jonHumphries; Author
Subject: Re: [Nexmo/nexmo-dotnet] Errors throw a key cannot be found exception(#68)

I'm

[2017-11-20 19:31] jonHumphries commented on #68
Okay so I had to remove the references to 4.6.2 in order to get it to compile, that’s probably due to something about my VS version and not anything you did wrong.  I also had to remove to missing .config files.

I added your Nexmo.API project into our solution instead of the dll but for some reason I wasn’t able to figure out, I could add it as a reference but other projects couldn’t see it’s nam

[2017-11-20 19:35] smithrobs commented on #68
Is your project a .NET project (not Core)? I can't remember exactly off-hand, but in 2015 referencing one from the other plain doesn't work.

[2017-11-20 20:15] jonHumphries commented on #68
Correct we use VS 2015 professional, not core, so it makes sense that we can’t use the raw code then.  You also use nunit, where as we the standard .Net unit test framework so I wasn’t able to trace through the code to find out where error messages were getting caught up; however, I did get the file logging attached which returned this:

2017-11-20T15:08:21.5025108-05:00  [DBG] POST https://api.ne

[2017-11-21 11:51] cataliz3er opened #72 "MissingMethodException"
Lately I'm getting this exception:

MissingMethodException: Method not found: 'System.IServiceProvider Microsoft.Extensions.DependencyInjection.ServiceCollectionContainerBuilderExtensions.BuildServiceProvider(Microsoft.Extensions.DependencyInjection.IServiceCollection)'.

![capture](https://user-images.githubusercontent.com/16380896/33071139-0be8906e-cec3-11e7-8d92-1be1ca2c95fb.PNG)

Any ideas?
Th

[2017-11-21 14:01] smithrobs commented on #72
I need to know a bit more about your environment and program to be sure, but this is _probably_ related to #40 and the breaking changes in `Microsoft.Extensions.DependencyInjection`.

Which version of `Nexmo.Csharp.Client` are you using?
Which version of `Microsoft.Extensions.DependencyInjection` are you using?
Which version of .NET Framework/Core/Standard and which platform (Win/Mac/Linux)?

Feel

[2017-11-22 08:47] cataliz3er commented on #72
Nexmo.Csharp.Client v3.0.0-pre2
Microsoft.Extensions.DependencyInjection v2.0.0
.NET Framework 4.6.1 Windows

The latest change I made to the project was upgrading from 4.6.0 to 4.6.1 because other 3rd party packages required this.

[2017-11-22 10:49] sivasubramanianservion opened #73 "C# - Nexmo APIs - Clarifications"
Team,
We are trying to setup IVR using nexmo using C# API. While trying to setup the behaviour for the below scenario, we have a clarifications:
Scenario:
-----------
1. On the answering the call, play some messages to the customer.
2. Collect the input from the caller
3. In case no input or no match scenarios, the respective messages needs to be played.
4. Then proceed to collect the input.
5. Al

[2017-11-22 10:50] sivasubramanianservion commented on #73
From Pt. 1 - 5 is the scenario. From Point no 6 onwards the list of clarifications we have.

[2017-11-22 13:39] smithrobs commented on #72
Thank you. Yes, this is because of `Microsoft.Extensions.DependencyInjection`. MS made a breaking change with v2.0 of this lib which requires a rebuild of any consuming libs. Currently, `Nexmo.Csharp.Client` v3.0.0 builds against the following:

.NET Target | `Microsoft.Extensions.DependencyInjection`
------------|-------------
net452|1.0.2
net46|1.0.2
net461|1.0.2
net462|1.0.2
netstandard1.6|1.0.

[2017-11-22 13:52] smithrobs commented on #68
Re: the hiding of the exception: Did you set `Nexmo.Api.EnsureSuccessStatusCode` to true? You then should receive a more clear Exception. ("You may instruct the library to throw an exception if a request results in an unsuccessful HTTP status code.")

[2017-11-22 13:55] smithrobs commented on #73
Some of these clarifications would be better answered by Nexmo support. Feel free to send your questions to support@nexmo.com and reference this issue.

6. I _think_ that would go into your NCCO doc. See [here](https://developer.nexmo.com/tutorials/interactive-voice-response#request-user-input-via-ivr) for a possible example.
7. It would depend on what you want to do. I would have to know more abo

[2017-11-22 15:15] cataliz3er commented on #72
The simplest solution was to downgrade DI to v1.0.2, but now I'm getting this exception:

FileLoadException: Could not load file or assembly 'Microsoft.Extensions.DependencyInjection, Version=1.0.2.0, Culture=neutral, PublicKeyToken=adb9793829ddae60' or one of its dependencies. The located assembly's manifest definition does not match the assembly reference. (Exception from HRESULT: 0x80131040)

[2017-11-22 17:11] smithrobs commented on #72
The assembly loader found a version of `Microsoft.Extensions.DependencyInjection` but it didn't match the reference (wrong version, culture, key, etc.). Maybe it's still finding the v2.0 DI assembly somewhere?

[2017-11-23 11:14] cataliz3er commented on #72
Found the problem
Had to comment out these lines
![capture](https://user-images.githubusercontent.com/16380896/33170234-376ef9e2-d050-11e7-84f0-2565fcc50103.PNG)
Now it works. Thanks for the assist :)

[2017-11-23 11:14] #72 closed

[2017-11-27 14:36] sivasubramanianservion commented on #73
Team,

Thanks for your response.

Please find below the in-line responses.

Thanks,
M. Sivasubramanian.

From: Rob Smith [mailto:notifications@github.com]
Sent: Wednesday, November 22, 2017 7:26 PM
To: Nexmo/nexmo-dotnet <nexmo-dotnet@noreply.github.com>
Cc: Sivasubramanian <sivasubramanian@servion.com>; Author <author@noreply.github.com>
Subject: Re: [Nexmo/nexmo-dotnet] C# - Nexmo APIs - Clarifi

[2017-12-13 04:51] Nidiginti opened #75 "System.TypeInitializationException"
while trying to send sms on button click

the code written is

 SMS.Send(new SMS.SMSRequest
        {
            from = "XXXXXXXXXX",
            to = "+91XXXXXXXXX",
            text = "A text message sent using the Nexmo SMS API"
        });

web.config
 <appSettings>
    <add key="Nexmo.UserAgent" value="myApp/1.0"/>
    <add key="Nexmo.Url.Rest" value="https://rest.nexmo.com"/>
    <add key="

[2017-12-13 15:59] smithrobs commented on #75
Are you using v2.x or v3.x of the library? What is the trust level you are executing under? This could be a dupe of #32 - take a look at that first and let us know.

[2017-12-14 04:26] Nidiginti commented on #75
I am using v2.X library and the trust level is full

[2017-12-14 06:33] Nidiginti commented on #75
Now i have tried with the version v3.x library and in web config  i have used apikey ,apisecret and trust level is 'Full'  but still showing null pointer exception.

ok i have tried my code using URL.  The sms has sent

 string TranUrl = " https://rest.nexmo.com/sms/xml?api_key=f1d90c5e&api_secret=30ad3ed2d702e1bf&from=CEOVOC&to=+91xxxxxxxxx&text=Testingsms";

can we use this method to send the sm

[2017-12-14 13:03] smithrobs commented on #75
This library is for your convenience and is not required. You can always make a HTTP request without the use of this library or any other library. [developer.nexmo.com](https://developer.nexmo.com/) contains all the information users need to use the API.

I see you continue to have trouble but unfortunately I cannot do much without a full stack trace. For the original v2.x issue I am unsure why yo

[2017-12-15 04:56] Nidiginti commented on #75
Thank you for your code its working.How can i get the XML file in which it contains message status.

[2017-12-16 19:30] leggetter opened #76 "answer_url response chunked response with Kestrel results in NCCO syntax error"
Note: Not necessarily a nexmo-dotnet issue, but the request here is to reproduce the problem so that it can be escalated to support and engineering:

Kestrel ASP.NET Core seems to be sending the answer URL in a chunked response which the Nexmo platform does not seem to be handling.

Can we reproduce with an example and then escalate?

Apparently related:
https://stackoverflow.com/questions/3808571

[2017-12-18 10:37] Nidiginti commented on #75
can anyone tell the packages for SMS in USA.And what is the price for buying long virtual number??Is there any validity for packages.

[2017-12-21 13:09] billbgarland commented on #71
I am having a similar problem on a Azure platform. Is there a way of confirming the credentials are OK?

On Azure it is not obvious where to save the appsetting.json file. Any suggestions?

[2018-01-04 22:33] grahambunce commented on #71
Any update?

Would this be more straightforward if you didn't forcing loading the .key file from disk (i.e. if this is absolutely mandatory, allow it to be embedded or loaded some other way.

As an aside, this new security system is a bit of a pain - an Api Key (such as your main competitor) is much easier to use for a consumer of your service. If you didn't want to use that, than an OpenID Connec

[2018-01-05 03:29] smithrobs commented on #71
Thanks for your patience - holidays were a bit busy around here. I have a barebones Azure worker role but need to clean up a bit and add it to the examples.

I agree 💯 with better application id/key support - this would be part of #8 - let me see if I can add at least that feature quick and push out a new pre in the next few days.

I personally do not have influence of the architecture of the secu

[2018-01-11 14:03] digibum opened #77 "{"Value cannot be null." & vbCrLf & "Parameter name: value"}"
I have one app writen in C# Console App and it works.
Now i have created the same app with same credetials only in VB code.
Code looks like this:
`Sub Main()
        Dim _cc As New Nexmo.Api.Voice.Call.CallCommand

        ''Dim _a(0) As Nexmo.Api.Voice.Call.Endpoint

        Dim _to(0) As Nexmo.Api.Voice.Call.Endpoint
        _to(0) = New Nexmo.Api.Voice.Call.Endpoint
        _to(0).type = "phone

[2018-01-12 08:20] poppywood opened #78 "CallCommand event_url incorrect"
In CallCommand class change

public string event_url { get; set; }

to

public string[] event_url { get; set; }

otherwise the API reports a Bad Request

[2018-01-22 20:41] techchallenger opened #79 "System.TypeInitializationException: The type initializer for 'Nexmo.Api.Configuration' threw an exception"
I am getting below error while sending the SMS on Live server.
`System.TypeInitializationException: The type initializer for 'Nexmo.Api.Configuration' threw an exception. ---> System.Security.SecurityException: Request failed. at Nexmo.Api.Configuration..ctor() at Nexmo.Api.Configuration..cctor() --- End of inner exception stack trace --- at Nexmo.Api.Request.ApiRequest.GetBaseUriFor(Type componen

[2018-01-23 10:30] iDarshn opened #80 "How can I call browser to browser using nexmo voice API?"

[2018-02-01 19:42] techchallenger commented on #79
Is there any solution?

[2018-02-02 09:06] iDarshn commented on #80
Is there any one who can guide me?

[2018-02-02 12:26] smithrobs commented on #80
Hello! Since this isn't strictly related to the csharp library, your best bet for this is to ask your question in the [Nexmo Slack](https://developer.nexmo.com/community/slack) or email support.

[2018-02-02 12:26] #80 closed

[2018-02-07 00:42] smithrobs commented on #78
Need to reproduce and fix if needed before 3.0 release

[2018-02-07 00:58] smithrobs commented on #79
If you have full trust, you should be all set. The biggest issue you probably are running into is something lowering trust for filesystem operations. Do you have the application running on IIS in its own app pool?

[2018-02-09 13:19] RabebOthmani commented on #35
@smithrobs should the targeted frameworks be on a separate section as the supported frameworks is a recurrent question?

[2018-02-09 14:14] smithrobs commented on #35
That's a good idea, yeah. It doesn't make much sense to have it in the "Contributing" section.

Not to put more on someone else's plate, but I'd rather someone other than me take a deeper look at the documentation as I feel I'm too close to the code at times to see the gaps...

[2018-02-09 19:03] #78 closed

[2018-02-10 19:46] techchallenger commented on #79
Yes. My application is running in its own app pool

[2018-02-10 22:07] smithrobs commented on #79
Can you try a v3.0 pre-release? It removes all handling of configuration, leaving it up to you to handle. It's less likely to cause you a SecurityException.

[2018-02-13 13:23] RabebOthmani commented on #35
I'm happy to do that, I'll look at readme and the examples. Once v3 is released, I'll also be able to work on the documentation for developer.nexmo.com

[2018-02-14 18:54] krisnds opened #82 "SMS Inbound: message_timestamp parameter is null"
I have implemented this code in my project (ASP.NET 4.6.1), and all the incoming parameters are brought into the SMS.SMSInbound model except for the message_timestamp.

public ActionResult Get([FromUri]SMS.SMSInbound response)
{
    return new HttpStatusCodeResult(HttpStatusCode.OK);
}

The message_timestamp field is different from the others in that it relies on a JsonProperty to map it to the pr

[2018-02-14 19:11] techchallenger commented on #79
Ok. Thanks
Will try 3.0 and let you know

[2018-02-16 12:52] RabebOthmani opened #83 "Unable to install v3 pre-release with a project that targets .Net 4.6.1"
![upgrade error](https://user-images.githubusercontent.com/5781590/36308345-2ea12b68-1318-11e8-9242-19c034d605c8.PNG)

[2018-02-18 16:05] smithrobs opened #85 "Support In-App Messaging API"
[Docs](https://ea.developer.nexmo.com/conversation/overview)

- [x] Conversations API
- [x] Users API
- [x] Members API

[2018-02-20 02:07] smithrobs commented on #83
Are you upgrading the project at the same time? Do you have `packages.config`? Might be something related to ```https://github.com/NuGet/Home/issues/4445```

[2018-02-20 11:55] RabebOthmani commented on #82
Hi @krisnds ,
Sorry for not getting back to you any earlier, I've been looking into the problem.
It seems like a deserialization issue, I'm about to push a fix to solve the problem.

[2018-02-20 12:02] RabebOthmani commented on #83
I'm not trying to upgrade the project but i'm definitely getting the same error. yep I have packages.config

[2018-02-20 13:23] #35 closed

[2018-02-21 13:18] smithrobs commented on #82
Fixed in 3.0!

[2018-02-21 13:18] #82 closed

[2018-02-21 16:11] smithrobs commented on #83
Okay, I can reproduce this... definitely something off with the nuspec...

[2018-02-21 19:30] krisnds commented on #82
I tried to install the 3.0.0-pre3 release, but got this error:

install-package : Could not install package 'runtime.debian.8-x64.runtime.native.System.Security.Cryptography.OpenSsl 4.3.0'. You are trying to install this package into a project
that targets '.NETFramework,Version=v4.6.1', but the package does not contain any assembly references or content files that are compatible with that framewo

[2018-02-21 19:32] smithrobs commented on #82
Sorry about this - that error is #83. I will be releasing v3.0.0 shortly that will address this.

[2018-02-21 19:41] krisnds opened #87 "Managing API throttling (Multiple SMS)"
I need to send the same message out to a list of phone numbers, and currently I have to put a delay between each message send to avoid getting a throttling status back.

Is there a way to implement the suggested
https://help.nexmo.com/hc/en-us/articles/205065817-How-to-Send-Multiple-SMS-in-a-Single-API-Request

in this dotnet client? Or do you have suggestions as to how to implement this in .NET?

[2018-02-21 19:53] smithrobs commented on #87
You can make use of the `Nexmo.Api.RequestsPerSecond` config setting, but that is currently only looked at if you specify it in a `appsettings.json` file.

We should provide better guidance around this - maybe even decouple the `HttpClient` instance from the `Configuration` class (which we are slowly getting away from and moving towards more instance-based usage).

You could also copy [ThrottlingM

[2018-02-24 02:39] smithrobs commented on #8
v3.0 supports multiple applications by allowing multiple instances of credentials and clients.

Perhaps sometime in the future we will provide separate functionality to manage application creation and key storage.

[2018-02-24 02:39] #8 closed

[2018-02-24 02:40] smithrobs commented on #7
Closing this as v3.0 is out. We can open new issues as new error handling opportunities are found.

[2018-02-24 02:40] #7 closed

[2018-02-24 02:41] smithrobs commented on #29
v3.0 is out! Closing this as instance configuration is now supported. Thanks for everyone's feedback.

[2018-02-24 02:41] #29 closed

[2018-02-24 02:43] smithrobs commented on #66
v3.0 is out! Please try the release and feel free to reopen this issue if you are still having problems.

[2018-02-24 02:43] #66 closed

[2018-02-24 02:43] smithrobs commented on #68
v3.0 is out! Please try the release and feel free to reopen this issue if you are still having problems.

[2018-02-24 02:43] #68 closed

[2018-02-24 02:44] smithrobs commented on #71
v3.0 is out! You can have multiple applications by creating multiple instances of the `Credentials` and `Client` classes.

[2018-02-24 02:45] smithrobs commented on #83
This is fixed in v3.0! Thanks for pointing this out.

[2018-02-24 02:45] #83 closed

[2018-02-24 02:48] #73 closed

[2018-02-24 02:53] smithrobs commented on #75
You are probably looking for a [delivery receipt](https://developer.nexmo.com/messaging/sms/guides/delivery-receipts) - there's a quick example [here](https://github.com/Nexmo/nexmo-dotnet#receiving-a-message-delivery-receipt).

For general support questions I recommend the official [Nexmo Slack](https://developer.nexmo.com/community/slack), opening a [support request](https://help.nexmo.com/hc/en

[2018-02-24 02:53] #75 closed

[2018-02-24 02:54] smithrobs commented on #76
Was this it? https://twitter.com/jdpearce/status/966415865280315392

[2018-02-24 03:07] smithrobs commented on #77
This will work with v3.0:

[code]

Feel free to reopen/comment if you still have issues.

[2018-02-24 03:07] #77 closed

[2018-02-24 03:10] #3 closed

[2018-03-01 04:55] iDoApp opened #88 "Nexmo.Api/Jwt.cs expects string / path?"
Nexmo.Api/Jwt.cs seems to have some confusion? Or I am missing something?

            var pemContents = File.ReadAllText(privateKey);
            var rsa = PemParse.DecodePEMKey(pemContents);

OR

            var rsa = PemParse.DecodePEMKey(privateKey);

What to be used?

Though the method sign. says "CreateToken(string appId, string privateKey)" there is no mean to set this key. as wherever it i

[2018-03-01 21:48] smithrobs commented on #88
This is a breaking change made in v3.0. Per the release notes:

The reasoning for this change is to increase library flexibility in cases of lower-trust environments.

If you use a version of the library that is >= 3.0, you must provide the **contents** of your key file and not a path to it. We tried to do what we could to make this clear in the release notes. The thought of adding a check that th

[2018-03-01 21:48] #88 closed

[2018-03-04 14:41] smithrobs opened #89 "Investigate implementing netcore 2.1's HttpClientFactory"
https://blogs.msdn.microsoft.com/webdev/2018/02/28/asp-net-core-2-1-preview1-introducing-httpclient-factory/

[2018-03-09 16:46] newbie1416 opened #91 "RsaUsingSha alg expects key to be of RSA type."
Hi,

I tried to make a call and got an error message below.

System.ArgumentException
  HResult=0x80070057
  Message=RsaUsingSha alg expects key to be of RSA type.
  Source=jose-jwt
  StackTrace:
   at Jose.Ensure.Type[T](Object obj, String msg, Object[] args)
   at Jose.RsaUsingSha.Sign(Byte[] securedInput, Object key)
   at Jose.JWT.EncodeBytes(Byte[] payload, Object key, JwsAlgorithm algorithm,

[2018-03-12 12:10] smithrobs commented on #91
Hi! If you are using v3.0+ of this library, the first thing to check is that you are providing the **full contents** of your keyfile instead of the path to the keyfile.

If you are not using v3.0+ or you are passing in the contents of the keyfile, please let me know the version of the library you are using, the .NET and/or netcore version you are targeting, and OS.

[2018-03-14 02:23] newbie1416 commented on #91
Hi Rob,
when I use the full contents of the key file, I got an error message below.

System.NotSupportedException
  HResult=0x80131515
  Message=Encrypted key not supported
  Source=Nexmo.Api
  StackTrace:
   at Nexmo.Api.PemParse.DecodeOpenSSLPrivateKey(String instr)
   at Nexmo.Api.PemParse.DecodePEMKey(String pemstr)
   at Nexmo.Api.Jwt.CreateToken(String appId, String privateKey)
   at Nexmo.A

[2018-03-29 09:49] janpieterz opened #93 "Consider dropping usage of DI, logging and configuration"
It'd be great to be able to drop the usage of DI, logging and configuration dependencies.

Right now I'm hitting #72, and looking at that thread it looks like you'd be open for changing this.

For logging what is used often is LibLog (https://github.com/damianh/LibLog).
For configuration, just allowing an easy way to set things up would allow removal of the dependencies too.

It might make this ea

[2018-03-29 11:50] smithrobs commented on #93
We are in agreement in spirit and (mostly) in practice! v3.0 greatly removed the configuration aspect. As you mentioned, DI is only used for logging. Logging is done the way it is because that was the decision made at the time (see #9). This was _okay_ until the MS DI breaking change complicated matters.

LibLog does look interesting; thanks for pointing that out to me. Give us 24 hours or so to t

[2018-03-31 20:56] smithrobs commented on #93
WIP branch [here](https://github.com/Nexmo/nexmo-dotnet/tree/liblog). Looking good; targeting for v3.1.

[2018-04-01 12:42] smithrobs commented on #91
What is the version of the library you are using, the .NET and/or netcore version you are targeting, and OS?

A few things to try in the meantime:
- Generate a new application and key and try with the new key.
- Be careful of how you save and "maintain" your keyfiles. Example: Editors can change the byte order mark which can cause the PEM loader to fail.

[2018-04-06 18:42] RabebOthmani opened #94 "Support Messages and Workflows API"
[Doc](https://developer.nexmo.com/messages-and-workflows-apis/workflows/overview)

[2018-04-10 14:43] RabebOthmani opened #95 "Search message returns nothing"
search message is returning an empty Json for some reason.

[2018-04-11 15:52] RabebOthmani commented on #95
After investigation, this problem is related to the API and not to the .NET client library specifically , the engineering team are looking at it.

[2018-04-11 15:52] #95 closed

[2018-05-04 14:14] RabebOthmani commented on #49
implemented under Edit Call

[2018-05-04 14:14] #49 closed

[2018-05-04 14:15] RabebOthmani commented on #48
implemented under Edit Call

[2018-05-04 14:15] #48 closed

[2018-05-04 14:15] RabebOthmani commented on #45
implemented under Edit Call

[2018-05-04 14:15] #45 closed

[2018-05-04 14:16] RabebOthmani commented on #46
implemented under Edit Call

[2018-05-04 14:16] #46 closed

[2018-05-04 14:18] RabebOthmani commented on #47
implemented under Edit Call

[2018-05-04 14:18] #47 closed

[2018-05-29 07:39] arrebagrove commented on #91
@smithrobs I have the same issue on UWP running visual studio 15.7.2 on windows 10 version 1803 and .net 4.6.1

Exception thrown: 'System.ArgumentException' in jose-jwt.dll
An exception of type 'System.ArgumentException' occurred in jose-jwt.dll but was not handled in user code
RsaUsingSha alg expects key to be of RSA type.

[2018-05-30 13:26] jsevaj opened #96 "System.Security.Cryptography.CryptographicException: 'Bad Data.'"
When compiling for .NET 4.5.2 a CryptographicException is thrown with message "Bad Data", when initiating a voice call. When compiling for .NET 4.6 the error does not occur.  I see there is the following comment in the code (in PemParse.cs):

// TODO: throwing "Bad Data" exception even though RSACng is fine

So I guess this is a known issue. However, I was instructed by Nexmo support to formally s

[2018-05-30 23:48] lebanon35 opened #97 "The type initializer for 'Nexmo.Api.Configuration' threw an exception"
Hello,

I created a Visual Basic.Net Windows Forms application to send SMS using Nexmo. It's working completely fine on the development environment, however when the executable and DLL files are moved to the live server, it gives the following error:

The type initializer for 'Nexmo.Api.Configuration' threw an exception. - Nexmo.Api -    at Nexmo.Api.Configuration.get_Instance()
   at Nexmo.Api.Re

[2018-05-31 22:42] lebanon35 commented on #97
The issue was solved by performing a Windows Update which included some updates to .Net Frameworks.

Everything is working fine now.

Thanks,

[2018-05-31 22:42] #97 closed

[2018-06-08 05:37] ianNexmo opened #98 "Voice API integration with dotNET but why UNAUTHORIZED response?"
Hi,
My customer is struggling to resolve the UNAUTHORIZED issue for integrating the Voice API.

Could anyone help check why this customer is having the UNAUTHORIZED response?
I also attached the screenshot.

![api call](https://user-images.githubusercontent.com/40051809/41140606-6976c2fc-6b29-11e8-9213-e8d47c672793.png)

[2018-06-22 13:01] RabebOthmani commented on #98
Hi @ianNexmo ,
I'm going to close this issue as nothing is to be fixed in the Library.
I've been working with our support team to help the customer. We always recommend using the latest version of the Library to avoid any known issues in the past with the configuration and the API key/secret.
More details can be found here https://www.nexmo.com/blog/2018/02/28/nexmo-dotnet-client-library-new-relea

[2018-06-22 13:01] #98 closed

[2018-06-25 13:29] parth1729 opened #99 "App configuration file missing in test project"
Hi Team ,

We have observed that App.config file in test project is missing. So to run project appopriately it requires searching for all attributes and populate them as part of the new configuration file which is tedious.

Please have this checked in for smooth operation.

[2018-07-12 19:39] hfadeelw opened #100 "Exception when trying to use Call.BeginTalk"
I initiate a call, then do BeginTalk but I 'm getting the following error:
Note: the call is being made and I hair what I wrong in the Json file but BeginTalk always fail.

![image](https://user-images.githubusercontent.com/40150961/42655281-7ee73420-85d0-11e8-8618-ff44aed89eb6.png)

[2018-07-18 13:50] JerseyTechGuy commented on #91
I just fought with this issue myself.  Not well documented and even Nexmo Support was stumped even thought they claim to know their libraries well.  To keep our configurations as they were, I simply added a File.ReadAllText(<filepath>) to load the contents of the file into the application key.  Worked perfectly.

[2018-07-26 13:53] ChrisGuzman opened #102 "sendTask.Result.StatusCode evaluated as NotFound"
This issue created on behalf of a developer trying out our Stitch API. It looks like there's an issue when creating a user.

I believe the Stitch API made some breaking changes after the rc1 release was cut. I'm in the process of finding out what changes were made.

 on failed request the sdk is failing to give detailed info to the developer
![usercreationerror](https://user-images.githubuserconte

[2018-07-28 03:15] smithrobs commented on #102
Addressed in v3.1.0-rc2. Thanks!

[2018-07-28 03:15] #102 closed

[2018-08-08 13:07] skandyrocks commented on #91
I also have the same exception. I am on Mac OS. here is my code:
[code]

what am I doing wrong?

[2018-08-08 13:38] smithrobs commented on #25
Arbitrary private/public claims aren't yet supported. ACL is hard-coded in 3.1 at the moment.

[2018-08-08 16:02] smithrobs commented on #32
As netcore has deprecated CAS and trust levels and 3.0+ have removed `System.IO.File` usages, I am closing this without any further action.

Feel free to comment/reopen if anyone runs into an issue related to this.

[2018-08-08 16:02] #32 closed

[2018-08-08 16:04] smithrobs commented on #79
Closing due to inactivity and rationale explained in #32.

[2018-08-08 16:04] #79 closed

[2018-08-08 16:06] smithrobs commented on #85
Stitch is supported in 3.1 thanks to Bibi. Close once 3.1 is out of RC.

[2018-08-08 16:10] smithrobs commented on #96
Thank you. Yes, this is a bug inside .NET Framework 4.5.2 as far as I can discern. I can find MS support articles describing the issue but no resolution for it. The recommended solution is - unfortunately - to not use 4.5.2 if you require V2 APIs like Application and Call.

If anyone finds a solution for this, feel free to comment/reopen!

[2018-08-08 16:10] #96 closed

[2018-08-13 10:36] skandyrocks commented on #71
same issue here when I try to transfer a call to a phone number. how did you resolve the issue last time?

[2018-08-13 11:26] smithrobs commented on #71
@skandyrocks It is likely a Nexmo authentication issue. You might want to try [logging](https://github.com/Nexmo/nexmo-dotnet#logging) to see if that is the case - you will receive a 401 Unauthorized if your credentials are not accepted or 403 Forbidden if you don't have the ability to perform the operation (e.g. the phone number is not tied to your account/application). You can force the library

[2018-08-14 08:14] skandyrocks commented on #71
okay, wanna give you some feedback because I got it to work. I downloaded the repo and modified it because to my mind this library has a problem:
Your destination member in a CallEditCommand is a string. That is kind of a problem because when it comes to a transfer of a call the destination is a complex object. So the json is always malformed when I set the destination (either via a dynamic or my

[2018-08-14 10:15] skandyrocks commented on #91
as I did not expect an answer here anymore I fixed that bug by myself.
@smithrobs in `PemParse.cs: line 259' use RSA = RSA.Create(). otherwise it will throw a `PlatformNotSupportedException` on Linux and MacOS

Additionally I want to say that the .net library is in a bad shape. Barely any unit tests and not tested on more than one platform. Also the code style is not good!

[2018-08-14 11:34] RabebOthmani commented on #91
Hi @skandyrocks ,
Thank you for your feedback and I'm sorry you had a bad experience with the Client Lib.
It's an ongoing work in progress and is constantly improving.

[2018-08-14 11:55] smithrobs commented on #91
@skandyrocks I replied to you in the Nexmo Slack with no reply.

There are tests (minimal as they are); I exercise them on all three platforms before releasing. As Bibi said, we're always working on the library (it's over 3 years old now and has been through many versions, .NET Core support, etc.) and regularly engage with the community to make your job easier and the library better.

Re: your pla

[2018-08-14 12:57] skandyrocks commented on #91
@smithrobs your response on slack was

so I answered you on GitHub. Should I answer you in Slack when you answered me on GitHub? Maybe I did a mistake there...

I am on netcoreapp2.1 and if you take a look into the implementation of the `RSACng`-constructor you'll find this:
[code]
So your code isn't working for .net core atm

[2018-08-14 13:15] smithrobs commented on #91
No worries; it's tough to convey intent on the internet sometimes. 😄I wanted to confirm that `NexmoDestination` was your code as I noticed the same thing you did - the `CallEditCommand` structure did not look correct. We will address that in 3.1.0, thank you.

Hm, netcoreapp2.1... yes, to be honest we haven't tested 2.1 at all yet - we try to keep the [targeted frameworks](https://github.com/Nexmo

[2018-08-20 17:13] a-patel commented on #91
Any update?
I am also getting the same error.

[2018-08-20 17:28] a-patel commented on #91
Hi @smithrobs
ApplicationId and ApplicationKey are required?

If yes,
Where do I get them?

[2018-08-21 16:43] smithrobs commented on #91
@a-patel They are required for voice, yes.

You can create an application and retrieve them for your newly created application from your [Nexmo account dashboard](https://dashboard.nexmo.com/voice/getting-started). Alternatively you can use the Nexmo CLI or this library itself to programmatically create and maintain your Nexmo applications.

[2018-08-21 17:03] a-patel commented on #91
@smithrobs
I have created the application in voice call section.
I get the ApplicationId but I didn't find the ApplicationKey (is this user has to create manually? if yes then I have created it)

But still getting the same error in the voice call.

[2018-08-21 19:10] a-patel commented on #91
@smithrobs
Still, no luck, getting the same.
FYI - I am using trial.

[2018-08-21 20:32] smithrobs commented on #91
@a-patel Would you mind either [filing a support request](https://help.nexmo.com/hc/en-us/requests/new) directly to Nexmo or asking in the [Nexmo Slack](https://developer.nexmo.com/community/slack)? This library has no control over the issue if Nexmo does not accept your API calls due to account/billing issues. You will receive a better experience regarding troubleshooting your specific account.

[2018-08-22 01:18] Benjamin1973 opened #105 "Getting Error Message: "An existing connection was forcibly closed by the remote host""
### General description of the issue or question
Using the C# client.  Not sure exactly which Framework, but it's not .NET Core for sure.

I haven't changed any code, and I've checked that I have a remaining balance.  It has started today (August 22).

### Version or commit hash
I'm not sure.  When I open the .dll, it just says version 1.0

### Expected Behavior
It should have sent an SMS to my cu

[2018-08-22 04:56] a-patel commented on #91
@smithrobs
Thanks.

[2018-08-22 05:12] smithrobs commented on #105
You are likely encountering Nexmo's August 21, 10:00 BST [permanent shutdown of TLSv1 and TLSv1.1](https://www.nexmo.com/blog/2018/08/09/additional-grace-period-legacy-tls-protocols/).

Please review that information and make changes to your systems as required. Feel free to [file a support request](https://help.nexmo.com/hc/en-us/requests/new) with Nexmo for additional support.

[2018-08-22 05:12] #105 closed

[2018-08-22 05:16] Benjamin1973 commented on #105
Ok, that's really great news.  I had no idea about the changeover.

________________________________
From: Rob Smith <notifications@github.com>
Sent: Wednesday, August 22, 2018 2:12:49 PM
To: Nexmo/nexmo-dotnet
Cc: Benjamin1973; Author
Subject: Re: [Nexmo/nexmo-dotnet] Getting Error Message: "An existing connection was forcibly closed by the remote host" (#105)

You are likely encountering Nexmo's

[2018-08-29 13:34] BloomBitz commented on #68
public ActionResult MakeCall(string to)
        {
            string TO_NUMBER = to;  //indian number along with country code
            string NEXMO_NUMBER = "447949141768"; //it is test number provided in nexmo account

            var results = Client.Call.Do(new Call.CallCommand
            {
                to = new[]
                {
                    new Call.Endpoint {

[2018-08-29 13:39] smithrobs commented on #68
@BloomBitz Would you mind either [filing a support request](https://help.nexmo.com/hc/en-us/requests/new) directly to Nexmo or asking in the [Nexmo Slack](https://developer.nexmo.com/community/slack)? This library has no control over the issue if Nexmo does not accept your API calls due to account/billing issues. You will receive a better experience regarding troubleshooting your specific account.

[2018-08-29 13:40] BloomBitz commented on #68
Ok thanks

[2018-08-29 13:53] BloomBitz commented on #77
continous error of "value can not be null.Parameter name is value" in asp.net mvc while working with voice api of nexmo. Code is below.
 public ActionResult MakeCall(string to)
        {
            string TO_NUMBER = to;  //Indian mobile number along with country code
            string NEXMO_NUMBER = "447949141768"; //it is test number provided in nexmo account

            var results = Client.

[2018-08-29 16:53] srujanaj opened #107 "Nexmo System.Net.Sockets.SocketException Exception"
Implemented outbound SMS notification using Nexmo API. It was working fine a few days back and suddenly stopped working. When I debugged the code, I am getting System.Net.Sockets.SocketException and system.ObjectDisposedException

 .NET Framework 4.5.2

Nexmo-API version: 3.0.1

var creds = new Nexmo.Api.Request.Credentials
                    {
                        ApiKey = NEXMO_API_KEY,

[2018-08-29 18:04] smithrobs commented on #107
@srujanaj You are likely encountering Nexmo's August 21, 10:00 BST [permanent shutdown of TLSv1 and TLSv1.1](https://www.nexmo.com/blog/2018/08/09/additional-grace-period-legacy-tls-protocols/).

Please review that information and make changes to your systems as required. Feel free to [file a support request](https://help.nexmo.com/hc/en-us/requests/new) with Nexmo for additional support.

[2018-08-29 18:04] #107 closed

[2018-08-30 05:10] BloomBitz commented on #68
my account on Nexmo Slack has been deactivated, I do not know how. Can you
please suggest me hoe to solve the problem that i have been already
mentioned to you

On Wed, Aug 29, 2018 at 7:09 PM Rob Smith <notifications@github.com> wrote:

[2018-08-30 07:29] BloomBitz commented on #68
I am waiting for last 1hour for the reply of regarding my problem from nexmo support.

[2018-08-30 08:00] BloomBitz commented on #91
Where cani can find the path of my private key?

[2018-08-30 08:09] skandyrocks commented on #91
@BloomBitz when you create a new application with the nexmo dashboard or cli nexmo creates a public-/private-key pair. You should save the private key anywhere on your computer. No one can tell you how to find that path ;)

With the newer API versions (I think 3+) you do not have to provide the path to the private key. You need to provide the content of the private key:

`var contentOfPrivateKey =

[2018-08-30 08:16] BloomBitz commented on #91
Thanku i did this .
Can you tell me one thing that without buying any number from my nexmo
account, can i do outbound calls through Test Numbers?

On Thu, Aug 30, 2018 at 1:39 PM André Naumann <notifications@github.com>
wrote:

[2018-08-30 09:52] BloomBitz commented on #22
Hey i got the HTTP response 201 after execute outbound call but client did not get any call. Any suggestion?

[2018-08-30 10:51] BloomBitz commented on #91
can you tell me how to make dynamic ncco in asp.net

[2018-08-31 22:56] mjmcginty opened #108 "Nexmo CSharp Client not working with newly created phone number"
Framework targeted: .NET 4.6.2
Nexmo CSharp Client version: 3.0.1.0
O/S: Win 7, Windows Server 2012

My code, which had been working for 8 months or so, created an SMSRequest object, then called the static Send method in the Nexmo.Api.SMS namespace (which implicitly loaded credentials from Web.config.)

var req = new Nexmo.Api.SMS.SMSRequest
{
    from = Properties.Settings.Default.FromNumber_Nexm

[2018-09-01 02:52] HStuart18 opened #109 "Getting a 401 error, help with auth"
Hi there,

When trying to run:

`var result = client.Call.BeginTalk(uuid, new Nexmo.Api.Voice.Call.TalkCommand
            {
                text = "This test finally worked well done!",
                voice_name = "Kimberly"
            });`

I am getting:

`Application Insights Telemetry (unconfigured): {"name":"Microsoft.ApplicationInsights.Dev.RemoteDependency","time":"2018-09-01T02:36:38.591

[2018-09-04 05:28] BloomBitz commented on #68
@smithrobs can you tell me that ncco is a json file actually? If we want to create dynamic ncco for each outbound call it means we need to create json file for each call?

[2018-09-04 08:29] BloomBitz commented on #71
I am also facing the same problem while adding "Text to Speech" to the existing outbound call. The error i got is described as below:
[ArgumentNullException: Value cannot be null.
Parameter name: value]
   Newtonsoft.Json.JsonConvert.DeserializeObject(String value, Type type, JsonSerializerSettings settings) +242
   Newtonsoft.Json.JsonConvert.DeserializeObject(String value, JsonSerializerSettings

[2018-09-04 12:58] RabebOthmani commented on #109
Closing the issue here since Harry and I are working on this via email

[2018-09-04 12:58] #109 closed

[2018-09-04 14:47] RabebOthmani commented on #108
Hi @mjmcginty ,
I'm about to build a function in the Client Library to check the TLS version.
Meanwhile, you could make a http request to the following url  https://api.nexmo.com/tlsverification from your application to verify the TLS version, it should return a 200Ok if it supports 1.2 and 400 if not.

[2018-09-04 15:38] mjmcginty commented on #108
Actually it resets the connection as well, seems like it's being enforced by a firewall?  However I did determine the TLS version using Wireshark, and it is using TLSv1, not 1.2.  My app targets .NET framework version 4.6.2, how do I make it use TLSv1.2?

[2018-09-04 19:33] mjmcginty commented on #108
To answer my own question:

using System.Net;
...

ServicePointManager.SecurityProtocol = SecurityProtocolType.Tls12;

[2018-09-04 19:33] #108 closed

[2018-09-05 06:35] kirajhpang opened #110 "Fail to send SMS request, The underlying connection was closed"
### Which target framework(s) of .NET can you reproduce this issue against?
4.5.2

### What operating system(s) is exhibiting this issue?
IIS, ASP NET MVC

### Version or commit hash
v3.1.0

### Expected Behavior
SMS successful sent

### Actual Behavior
SMS fail to send, exception throw since mid of August

[code]

### Steps to Reproduce
[code]

[2018-09-06 14:41] leggetter commented on #110
Seems you may be hitting the TLS update we recently made. See https://github.com/Nexmo/nexmo-dotnet/issues/105#issuecomment-414913881

[2018-09-07 02:52] kirajhpang commented on #110
🤕
Why there is no announcement/email notification for this setting?

solve by adding this line of code

`ServicePointManager.SecurityProtocol = SecurityProtocolType.Tls12;`

[2018-09-07 02:52] #110 closed

[2018-09-14 06:59] kirajhpang opened #111 "get message-timestamp default value, cannot be deserialized accordingly"
### General description of the issue or question
`message-timestamp` cannot be deserialized according to the JSON property setting `[JsonProperty("message-timestamp")]`, it show default date time value instead of the valid message-timestamp send via url

### Which target framework(s) of .NET can you reproduce this issue against?
(Examples: .NET Core 2.0, netcoreapp1.0, .NET Framework 4.6.2, etc.)

[2018-09-15 15:26] dmakhkamov opened #112 "Exception: Unable to read data from the transport connection: An existing connection was forcibly closed by the remote host."
My code i took from tutorial was working fine till couple of weeks ago.
then the code stopped working and I started having the connection exception.
Exception: Unable to read data from the transport connection: An existing connection was forcibly closed by the remote host.

here is my code
`public static class NexmoHelper
    {
        private static Nexmo.Api.Request.Credentials creds = new Nexmo

[2018-09-15 15:47] dmakhkamov commented on #112
This is apparently to the latest changes in Nexmo where they do not Support TLS 1.0 and 1.1 anymore, you have to use 1.2.

to force your app use this
 ServicePointManager.SecurityProtocol = SecurityProtocolType.Tls12;

[2018-09-15 15:47] #112 closed

[2018-09-17 12:24] leggetter opened #113 "Add support for file/recording retrieval"
### General description of the issue or question

Add support to retrieve calls to the .NET library. For the Nexmo Node library this looks like:

[code]

Where `fileIdOrUrl` is the UUID for the file to be retrieved or the URL for the file.

[2018-09-20 16:43] judy2k opened #114 "Implement Secret Management API"
We have a new API for managing account secrets, fully documented here: https://nexmo-developer-staging-pr-579.herokuapp.com/api/account/secret-management

It consists of 4 endpoints to be added to the existing `account` namespace:

- `listSecrets(apiKey)` - List the secrets associated with the provided api key.
- `getSecret(apiKey, secretId)` - Obtain the details of the secret identified by the pr

[2018-10-10 14:03] Pipepito opened #116 "Unexpected exception on Bad Request."
### General description of the issue or question
When a request is sent and is not properly formatted (or missing values or has bad data) the response that comes from the API is BadRequest (Obviously), but the SDK isn't handling it and throws an exception.

### Which target framework(s) of .NET can you reproduce this issue against?
.NET Core 2.0, .NET Framework 4.6.1

### What operating system(s)

[2018-10-11 00:57] razzbit opened #117 "Feature to make configuration work with Azure App Settings"
Could we please have the Nexmo.Api.Configuration compatible with app settings that are defined in the Azure Portal.  This can very easily be achieved by adding ```.AddEnvironmentVariables``` to the `Nexmo.Api/Configuration.cs` constructor when building the configuration.

[2018-10-17 23:39] cirojr commented on #116
Hi @Pipepito! No one likes exceptions, indeed.
I'll take a look.

[2018-10-18 01:12] smithrobs commented on #116
In ApiRequest and VersionedApiRequest, if the send task result is `!(IsSuccessStatusCode)`, then the `NexmoResponse` object does not have `JsonResponse` populated - it's null. Likewise, `DoRequest` can return null/empty. Most (all?) of the "API endpoint" classes (Account, Number, SMS, etc.) expect the JSON response to be properly formed JSON.

   The configuration option `Nexmo.Api.EnsureSuccessSt

[2018-10-18 01:18] smithrobs commented on #117
@razzbit I implemented this locally but am reconsidering. We've slowly been moving away from `Nexmo.Api/Configuration.cs` towards instances of `Nexmo.Api.Client` and I'd rather not add functionality to something we are phasing out (handling app configuration in the library).

Do you have any objections to performing your own `ConfigurationBuilder` in your code and passing in the values to a `Nexmo

[2018-10-18 01:18] cirojr commented on #116
Thanks for the directions @smithrobs. I'd like to contribute with it.
I'll take a look at the structure, keeping what you've pointed in mind.

[2018-10-18 07:30] SheldonNunes commented on #53
Has this been implemented already? Looks like there is an api for it in `NumberInsight.cs`

`public static NumberInsightAdvancedResponse RequestAdvanced(NumberInsightRequest request, Credentials creds = null)`

[2018-10-25 06:44] SafeCab opened #124 "ability to search by type (toll free, mobile or fixed)"
hi,

Please can you add the ability to search by type of phone e.g. tollfree, fixed or mobile

I see it on your UI but its not possible in your api - I can search by feature but I need to search by type as well

thanks

Steve

[2018-10-25 06:50] SafeCab opened #125 "ability to restrict number searches to those numbers with no address requirements"
certain countries have address requirements.  Please can you add the ability to restrict the search based on if the number has any address requirement.

I would like to offer this to my customers but at the moment I have to rule out by country - as this may change over time it would be great if I could add a restriction on the search to stop it happening if legislation changes

thanks

Steve

[2018-10-25 08:55] MrKevHunter opened #126 "No Async Implementation"
Your most recent implementation (3.2.2) does not use async to the client, and calling .Wait() (especially without ConfigureAwait() generally isn't seen as best practice.

Is there  a reason for no Async implementation?

[2018-10-25 17:42] cleverkom-twarnick opened #127 "Search.GetMessage => Unexpected character encountered while parsing value"
Unexpected character encountered while parsing value: <. Path '', line 0, position 0
--

### Which target framework(s) of .NET can you reproduce this issue against?
.NET Framework 4.6.2

### What operating system(s) is exhibiting this issue?
Windows 10

### Version or commit hash
CSharp.Nexmo.Client version: 3.2.2

### Expected Behavior
return SMS Message

### Actual Behavior
Exception:
Unexpected

[2018-10-25 17:45] cleverkom-twarnick commented on #127
The content of the message is:
AT$GPRS=4464,1,&#034;internet.m2mportal.de&#034;,&#034;m2m&#034;,&#034;sim&#034; ...
So this could be the reason.

[2018-12-05 01:43] lidondon opened #131 "Hi, I followed the online guide trying to make a outbound call, using "nexmo csharp client3.2.2", but i still got the exception"System.ArgumentException: 'RsaUsingSha alg expects key to be of RSA type". I've already tried the way you mention as post earlier but it didn't work. I'm total clueless now, please help me"
Thank you for making this library better by submitting an issue. To ensure we can troubleshoot effectively,
please fill out this form in its entirety.

If you are submitting a feature request you may ignore this template and enter a free-form description of your request.
You may also contact the maintainers directly via the Nexmo Slack to discuss the feature.

### General description of the issue

[2018-12-05 02:03] smithrobs commented on #131
Which target framework(s) of .NET can you reproduce this issue against?

What operating system(s) is exhibiting this issue?

[2018-12-05 02:33] lidondon commented on #131
anther little problem.....i'm curious about the key in the 'private.key' file break line not totally continuous,
Client = new Client(creds: new Nexmo.Api.Request.Credentials
            {
                ApiKey = "my api key",
                ApiSecret = "My sceret",
                ApplicationId = "app id",
                ApplicationKey=(should i contain -----BEGIN PRIVATE KEY----- and -----END

[2018-12-05 03:01] smithrobs commented on #131
I would **not** recommend removing line breaks (I believe doing so does not adhere to specs) and yes, you must include the -----BEGIN PRIVATE KEY----- and -----END PRIVATE KEY-----

[2018-12-05 03:12] lidondon commented on #131
actually, i've tried anything i can imagine, i mean....like include the line breaks, begin and end symbols,
still getting the same 'RsaUsingSha alg expects key to be of RSA type' exception.
    i read the post with same issue before, so i copy and paste the content of 'private.key' not give  Nexmo.Api.Request.Credentials.ApplicationKey the path of the file. am i correct to do so?
    i have been s

[2018-12-05 03:46] lidondon commented on #131
I did it again from the beginning, then i got "System.ArgumentNullException: 'Arg_ParamName_Name'"
here's my code below:
var results = Client.Call.Do(new Call.CallCommand
            {
                to = new[]
                {
                    new Call.Endpoint {
                        type = "phone",
                        number = "886989306026"
                    }
                },

[2018-12-05 03:50] smithrobs commented on #131
- You definitely want `ApplicationKey` to be the _content_ of your `private.key` and not a _filesystem path_ to it.
- I don't see a `from` in your `Client.Call.Do` example; did you accidentally omit that?

[2018-12-05 04:18] smithrobs commented on #131
JWT is handled for you when needed.

`from` is not optional. Per the readme:

[code]

[2018-12-05 04:40] smithrobs commented on #131
I'm not sure where you saw that (note that the Playground may have different and/or less strict requirements from using the API itself), but check out the official docs at https://developer.nexmo.com/voice/voice-api/building-blocks/make-an-outbound-call/dotnet and Step 2 of the [prerequisites](https://developer.nexmo.com/voice/voice-api/building-blocks/before-you-begin)

[2018-12-05 08:44] lidondon commented on #131
thank for your supporting first.
now i finally place the first outbound call, that's a text- to-speech.
in our scenario is that we want our customer supports can call our client on our website with nexmo voice api, but i don't know....um....i mean i don't know what NCCO should be like? or is it a outbound or inbound call? could you plz give me some guides? thanks a lot

[2018-12-05 13:34] lidondon commented on #131
hi,
now i can make a outbound call and i can get the event (app's event url). thank you again.
but i still have some problems needs to fix.
first, i'm confused that the call flow depends on new Call.CallCommand().answer_url (the ncco i create)?
or the property in new Call.CallCommand() {
                to = new[]
                {
                    new Call.Endpoint {
                        ty

[2018-12-07 15:46] lidondon commented on #131
hello?
It's been two days.....
please give me a direction, thanks

[2018-12-08 17:52] lidondon opened #132 "Few days ago i successfully create an outbound call(.net mvc framework4.6.1 on win10), then i copy 100% same code to my working environment at home(.net core 2.x on mac os), then i started to get the exception "System.ArgumentException: 'RsaUsingSha alg expects key to be of RSA type" again ! Do i need change any.....like..configuration? or something else??"
Thank you for making this library better by submitting an issue. To ensure we can troubleshoot effectively,
please fill out this form in its entirety.

If you are submitting a feature request you may ignore this template and enter a free-form description of your request.
You may also contact the maintainers directly via the Nexmo Slack to discuss the feature.

### General description of the issue

[2018-12-14 13:13] judy2k commented on #132
Hi @lidondon. It looks like there's a problem with your credentials on your home machine - either they're missing or they're incorrect - it doesn't look like this is a code issue - it's an issue with your home working environment.

[2018-12-14 13:13] #132 closed

[2018-12-14 13:19] judy2k commented on #131
Hi @lidondon,

You may be better off contacting support@nexmo.com for these issues - you're having trouble using the Nexmo service more than raising issues against this dotnet client library. I'll attempt to answer your questions as best I can though.

1: The call flow depends on the NCCO data you provide at the URL you set as `answer_url`.
2: You can only make outgoing calls from a Nexmo number _

[2018-12-14 13:19] #131 closed

[2018-12-27 16:45] HStuart18 opened #134 "Value cannot be null errror"
I am trying to begin a call to a phone number in ASP.NET MVC Core. However, the following code is producing the error `Value cannot be null`:

    Client nexmoClient = new Client(new Credentials
    {
        ApiKey = "...",
        ApiSecret = "...",
        ApplicationId = "...",
        ApplicationKey = File.ReadAllText(@"C:\Users\...\data\nexmoPrivateKey.key")
    });

    nexmoClient.Call.Do(

[2019-01-03 14:14] judy2k opened #135 "Implement `GetPrefixPricing`"
For 100% API coverage, the [GetPrefixPricing](https://developer.nexmo.com/api/developer/pricing#pricing-by-prefix) endpoint should be implemented in the dotnet library.

[2019-01-03 14:19] judy2k opened #136 "Implement `SubmitConversion`"
To achieve 100% coverage, the [SubmitConversion](https://developer.nexmo.com/api/conversion) endpoint should be implemented in the dotnet library.

[2019-01-03 14:58] judy2k commented on #51
@smithrobs This looks like this feature has been implemented as part of NumberUpdateCommand. Can you confirm?

[2019-01-07 11:37] pbelo commented on #93
I'm using Nexmo Client 3.2.2 and still getting #72 :
"System.TypeInitializationException: The type initializer for 'Nexmo.Api.Configuration' threw an exception. ---> System.MissingMethodException: Method not found: 'System.Collections.Generic.Dictionary`2<System.String,System.Object> Microsoft.Extensions.Configuration.IConfigurationBuilder.get_Properties()'."
How can I work around this issue?

[2019-01-09 18:19] coso2 opened #137 "Exception thrown trying to send sms"
Hi, i am writing an application using ASP.NET webform. I am trying to send an sms using the example code. I got errors so i decided to put the authentications credentials inside the SMS.Send parameters.

SMS.Send(
    request: new SMS.SMSRequest
    {
        from = "Nexmo",
        to = "************",
        text = "Hello from Nexmo"
    },
    creds: new Nexmo.Api.Request.Credentials
    {

[2019-01-10 05:36] Druvo opened #138 "unable to install 3.0.0 to 3.2.2 with a project that targets .net 4.5.0"
Hi there, I am using asp.net MVC in Dot NETFramework 4.5.0 that's why Nexmo version 3.0.0 to 3.2.2 are not working in my application because the targeted version is NETFramework 4.5.2. but when I goto lower versions it also not working for the dependency. Some dependencies are also targeted at NETFramework 4.5.2. can anyone help me with this problem?

[2019-01-10 12:19] smithrobs commented on #138
The list of frameworks the library supports is in the [README](https://github.com/Nexmo/nexmo-dotnet/blob/master/README.md).

"Support for .NET Framework 4, 4.5, and 4.5.1 ended on January 12, 2016. Microsoft recommends customers upgrade to .NET Framework 4.5.2 in order to continue to receive technical support and security updates. For more information, please visit the .NET Framework Support Life

[2019-01-10 12:19] #138 closed

[2019-01-10 22:55] coso2 commented on #137
So, i tried to move the code inside an <asp:button>, so i was able to put my code inside a try-catch. Now i read "An existing connection was forcibly closed by the remote host". On google this landed me on an article on Nexmo site about the permanent shutdown of TLSv1 and TLSv1.1, with suggest to move to .net 4.5 or above. On my error screen i read at the footer:
Version Information: Microsoft .NE

[2019-01-11 00:08] coso2 commented on #137
... added System.Net.ServicePointManager.SecurityProtocol = SecurityProtocolType.Tls12; in my Global.asax.cs .....
Case close :)

[2019-01-11 00:08] #137 closed

[2019-01-14 12:56] ciaran1234 opened #139 "Voice API Call.Edit command does not work"
### General description of the issue or question
Cannot make an edit for a call as the CallEditCommand class has an invalid data type for the destination field. Currently it uses string, making it impossible to send a valid request.  It needs to be a complex type as it should consist of a type field and a string array for the url fields. I propose you use the following data type for the destinatio

[2019-01-14 14:49] janpieterz opened #140 "Support HMAC512 (and other HMAC variants) of signatures"
I'm trying to implement it here given the docs but somehow the signature is always slightly off. I'm using an API key with HMACSHA512 signature. It'd be great to get support in the client as the docs recommend us using that.

My, rough, attempt looks like this, and fails.

[code]

[2019-01-15 14:09] RabebOthmani commented on #139
Hi @ciaran1234 ,
Thank you for pointing this out. I can see the problem.
A release with a fix should be out soon :)

[2019-01-21 14:33] RabebOthmani commented on #140
Hi @janpieterz
We've spotted the issue and a new release with a fix should be out this week.

[2019-01-21 15:59] judy2k commented on #140
Hi @janpieterz,

I think you're missing a step - which is to hex-encode the calculated signature before comparing it to the received signature.

I'd also recommend doing a case-insensitive comparison by converting both strings to lower or upper case before comparing equality.

Hope this helps!

[2019-01-22 08:37] janpieterz commented on #140
@judy2k Yup, and yeah, we've changed to different methods based on the support request, trying to get MD5-HASH to work first of all. When testing we use the correct method for the correct setting.

[2019-01-22 10:46] judy2k commented on #140
Hi Jan,

There's some stuff in that latest code block that's incorrect. The algorithm you're implementing is documented [here](https://developer.nexmo.com/concepts/guides/signing-messages#step-1-for-both-hash-and-hmac-signatures), and I've summarised it below, with some extra notes on things I think are important, and things that conflict with the code above:

• Sort params by key and remove the `

[2019-01-22 11:54] janpieterz commented on #140
Hi @judy2k .
Thanks for taking a look!
I've taken the MD5 code from this repository and copied it (for MD5) so not sure how there'd be any differences. There's no extra `&` (verified by running and comparing), it's exactly like `&akey=value&bkey=valueyour_signature_secret`.

The URL encoding was copied from here:
https://github.com/Nexmo/nexmo-dotnet/blob/452ffc92bc7c8a0bf43e08ca7dbbd496d271413e/N

[2019-01-22 12:46] janpieterz commented on #140
Peter on support figured it out with a sample, it had to do with the default ordering of .NET of strings.
Somehow `message-timestamp` gets ordered after `messageId`, while it's put the other way around.

I do wonder how the SignatureHelper here then works as this uses the same order mechanism.

[2019-01-22 15:31] RabebOthmani commented on #140
@janpieterz Thanks for pointing out to the SignatureHelper Class. It looks it's out of date and needs updating.
Apologies for that.
@judy2k and I are working on fixing that.

[2019-01-22 15:41] janpieterz commented on #140
@RabebOthmani no worries, threw me around a little, who knew ordering a `-` was culture dependent 🤔
Happy to pick up some work as I got a working HMACSHA512 (and presumably others as logic is mostly similar). Let me know you'd like me to pick up a part, my suggestions/current work is in #142 .

For your reference, final HMACSHA512 code on our end:

[code]

[2019-01-23 12:20] RabebOthmani commented on #139
Hello @ciaran1234 ,
The latest version of the client Lib v3.2.4 should fix the problem. Please let me know if you encounter any other problems.

[2019-01-23 12:20] #139 closed

[2019-01-23 12:44] RabebOthmani commented on #59
This has been implemented https://github.com/Nexmo/nexmo-dotnet/blob/master/Nexmo.Api/Voice/Call.cs#L26

[2019-01-23 12:44] #59 closed

[2019-01-23 12:51] RabebOthmani commented on #114
FYI @judy2k , I'm closing this issue. The implementation is done.
https://github.com/Nexmo/nexmo-dotnet/blob/master/Nexmo.Api/ApiSecret.cs

[2019-01-23 12:51] #114 closed

[2019-01-23 12:53] RabebOthmani commented on #43
Closing as this issue is a duplicate of https://github.com/Nexmo/nexmo-dotnet/issues/136 cc @judy2k

[2019-01-23 12:53] #43 closed

[2019-01-23 12:55] RabebOthmani commented on #113
Closing as this issue is a duplicate of https://github.com/Nexmo/nexmo-dotnet/issues/44

[2019-01-23 12:55] #113 closed

[2019-01-23 12:59] RabebOthmani commented on #51
@judy2k closing issue as feature has been implemented
https://github.com/Nexmo/nexmo-dotnet/blob/master/Nexmo.Api/Number.cs#L121-L126

[2019-01-23 12:59] #51 closed

[2019-01-23 13:24] tyronent opened #143 "Connect callers to a conference"
How can one connect callers to a conference using the .net library?

I'm trying to follow the below link but there is no .net example:
https://developer.nexmo.com/voice/voice-api/building-blocks/connect-callers-into-a-conference

[2019-01-23 13:31] RabebOthmani commented on #143
Hi @tyronent ,
I will add the missing building block to the quickstarts.
Could I please ask you to open an issue on https://github.com/nexmo-community/nexmo-dotnet-quickstart
I'm going to close this one since there's no work to be done on the Client Library. Thank you.

[2019-01-23 13:31] #143 closed

[2019-01-23 13:58] RabebOthmani commented on #125
Hello @SafeCab ,
Apologies for not getting back to you any sooner.
This isn't specifically an issue with the client library. Please contact our support team at support@nexmo.com, and they'll be able to help you.

[2019-01-23 13:58] #125 closed

[2019-01-23 14:00] RabebOthmani commented on #124
Hello @SafeCab ,
Apologies for not getting back to you any sooner.
Thank you for spotting this. This is indeed missing from our implementation and we will work on adding it as soon as possible.

[2019-01-28 15:37] tyronent commented on #77
@RabebOthmani

I am getting the same error...was there ever a fix or reason for this value cannot be null?

[2019-01-29 00:41] speechwrecko opened #145 "user agent header formatting error"
### General description of the issue or question
We started see the following our logs

System.FormatException: The format of value 'dotnet/Linux4.9.0-7-amd64#1SMPDebian4.9.110-3+deb9u2(2018-08-13).NETCore4.6.27129.04' is invalid

Upon further investigation we discvoered this user agent header was set in the library and the string was too long or improperly formatted .. causing an error

### Which

[2019-01-29 09:57] judy2k commented on #145
Hi @speechwrecko - thanks for the bug report! I'm currently in the process of porting to .NET Core, and I've also found this issue - we should make a new release later this week to fix it.

[2019-02-07 15:20] judy2k opened #146 "Implement Signature Validation"
The library should be capable of validating requests from webhooks from the Nexmo SMS API.

[2019-02-19 11:54] #111 closed

[2019-02-19 12:16] RabebOthmani commented on #93
Hi @pbelo ,
Could you please provide more details about your code and environment? Thanks

[2019-02-19 12:24] RabebOthmani commented on #89
I saw a fantastic talk about it during NDC. This is on my list of things to do.

[2019-02-19 12:40] RabebOthmani commented on #91
Closing this issue as it's been taken care of on our community slack

[2019-02-19 12:40] #91 closed

[2019-02-19 13:34] RabebOthmani commented on #53
Done

[2019-02-19 13:34] #53 closed

[2019-02-19 14:41] #76 closed

[2019-02-19 14:44] judy2k commented on #127
It looks like this is attempting to parse XML data as JSON.

[2019-02-19 14:51] judy2k commented on #93
@pbelo Please could you raise a [new issue](https://github.com/Nexmo/nexmo-dotnet/issues/new) for this and give as much detail as you can.

I'm closing this issue because the original request has been implemented over the last few releases.

[2019-02-19 14:51] #93 closed

[2019-02-20 12:06] AECDev11 opened #147 "Getting an Error while setting event_url and event_method in NCCO using Nexmo.Csharp.Client -Version 3.2.4"
Hi,

We are using Nexmo.Csharp.Client -Version 3.2.4 to develop an application to make an call but we are
getting following error  while setting event_url

   at Jose.Ensure.Type[T](Object obj, String msg, Object[] args)
   at Jose.RsaUsingSha.Sign(Byte[] securedInput, Object key)
   at Jose.JWT.EncodeBytes(Byte[] payload, Object key, JwsAlgorithm algorithm, IDictionary`2 extraHeaders, JwtSettings

[2019-02-22 13:47] RabebOthmani commented on #124
issue solved as per the following PR https://github.com/Nexmo/nexmo-dotnet/pull/148

[2019-02-22 13:47] #124 closed

[2019-03-06 12:32] Pugalit opened #149 "Voice - Audio Stream/Speech Text to Talk"
I am using .net SDK Client in ASP.Net Web API Project.
**Question 1:**
I want to play the audio stream once the outbound call is answered by customer. After some other business logic, i want to stop playing the audio and conference one more customer in the same.

Option 1:
In Call Answer Event, i am sending response http 200 response along with that i have included the content as Json Serialize ob

[2019-03-07 08:40] kenken023 opened #150 "Installing the library to a .NET also installs .NET Core libraries"
### General description of the issue or question
Installing the library to a ASP.NET MVC project also installs .NET Core libraries such as ASP.NET Core MVC, etc which is not needed.

### Which target framework(s) of .NET can you reproduce this issue against?
.NET Framework 4.6.1

### What operating system(s) is exhibiting this issue?
Windows

### Version or commit hash
Nexmo.Csharp.Client 3.2.4

#

[2019-03-07 08:41] kenken023 commented on #150
Workaround is to use the REST API.

[2019-03-20 15:12] ElCompadre commented on #71
I had the same issue, when looking in the debug console I found that the call with Newtonsoft.JsonConvert as a 401 respond, so it was a problem of credentials... And when I got to the Nexmo Slack they told me to create a new application... it fix my problem.

[2019-03-27 15:25] Caloyski opened #152 "Whatsapp message type"
Good day,

are you going to support WhatsApp messages?

I tried the following code

[code]

and the results variable contained the following message: "Invalid Message Type"

[2019-04-16 12:12] RabebOthmani commented on #152
Hello @Caloyski
We do support WhatsApp with the [Messages API ](https://developer.nexmo.com/messages/overview).
It's still Beta therefore not implemented in the Client Lib but eventually, it will be.

[2019-04-16 12:13] #152 closed

[2019-04-26 16:18] fauna5 opened #154 "JWT creation does not work in 4.6+ on OSX"
### General description of the issue or question
The library errors when using JWTs in 4.6+ on OSX.

This line uses Cryptography Next Generation (CNG) implementation of the RSA algorithm which is only available in windows
https://github.com/Nexmo/nexmo-dotnet/blob/3c0bddbc8f1526f7469774ff596ddf35050e2011/Nexmo.Api/PemParse.cs#L259
See https://docs.microsoft.com/en-us/dotnet/api/system.security.cry

[2019-05-10 10:21] RabebOthmani commented on #136
Implemented in V3.4.0

[2019-05-10 10:21] #136 closed

[2019-05-10 10:22] RabebOthmani commented on #135
Implemented in V3.4.0

[2019-05-10 10:22] #135 closed

[2019-06-19 15:52] Unders0n commented on #91
i think your docs should be updated (dotnet atleast) , they still refferencing path to file instead of cert itself

[2019-07-26 07:09] faeezkehzen opened #158 "Send Nexmo SMS from Azure Function"
Thank you for making this library better by submitting an issue. To ensure we can troubleshoot effectively,
please fill out this form in its entirety.

If you are submitting a feature request you may ignore this template and enter a free-form description of your request.
You may also contact the maintainers directly via the Nexmo Slack to discuss the feature.

### General description of the issue

[2019-08-13 04:48] lval commented on #145
Any update on this? I'm encountering this error on Debian with framework .NET Core 2.2 using Nexmo.Csharp.Client 4.0.

[2019-09-04 11:22] lornajane commented on #56
OAuth no longer available for new accounts, feature not needed.

[2019-09-04 11:22] #56 closed

[2019-09-06 06:53] kenken023 commented on #150
Any updates? :)

[2019-09-30 06:29] pickapool opened #164 "System.IO.FileNotFoundException: 'Could not load file or assembly 'Microsoft.Extensions.Configuration.Abstractions, Version=1.1.2.0, Culture=neutral, PublicKeyToken=adb9793829ddae60' or one of its dependencies. The system cannot find the file specified.'"
Thank you for making this library better by submitting an issue. To ensure we can troubleshoot effectively,
please fill out this form in its entirety.

If you are submitting a feature request you may ignore this template and enter a free-form description of your request.
You may also contact the maintainers directly via the Nexmo Slack to discuss the feature.

### General description of the issue

[2019-09-30 14:18] slorello89 commented on #164
Hi @pickapool - it looks like for some reason your runtime is trying to read the Microsoft.Extensions.Configuration.Abstractions as 1.1.2 where it is actually the 1.0.2 version, and barfing. Can you try installing Microsoft.Extensions.Configuration.Abstractions v 1.1.2 in the package manager and running it again.

[2019-09-30 22:50] hiral2609 opened #165 "Please add API for downloading recordings"
Please add API for downloading recordings. This is already part of other framework's apis so should be relatively very easy to add it for .NET

[2019-10-01 01:16] slorello89 commented on #165
Hi @hiral2609 - Recording downloading was added to the API with the release of v4.1

invoke like so:

[code]

[2019-10-01 03:21] pickapool commented on #164
I lower down the version of nexmo 4.1.0 to 4.0.0 and it works

[2019-10-01 20:16] hiral2609 commented on #165
This is great! Thank you for this! Is there a place where I can subscribe to releases notifications and see the changes in each revision.

[2019-10-01 20:17] hiral2609 commented on #165
Found my answer - https://github.com/Nexmo/nexmo-dotnet/releases

[2019-10-01 20:17] #165 closed

[2019-10-01 20:20] lornajane commented on #165
You answered your own question :) You can also follow changes for all our APIs and SDKs on our changelog page https://changelog.nexmo.com/

[2019-10-04 04:26] slorello89 commented on #164
Hi @pickapool

this issue should be fixed in 4.1.1

[2019-10-04 04:27] slorello89 commented on #150
Hi @kenken023

I have removed the ASP.NET Core dependency from the non core versions.

[2019-10-04 11:15] slorello89 commented on #158
Hi Fazeekehzen,

I'm closing this issue as I haven't heard back from you - feel free to reopen with the full stack trace.

thanks,

[2019-10-04 11:15] #158 closed

[2019-10-08 14:14] slorello89 commented on #164
As this issue should be resolved in 4.1.1 I am closing it - if you still have this problem feel free to reopen.

[2019-10-08 14:14] #164 closed

[2019-10-08 14:16] slorello89 commented on #150
I'm closing out this issue now - as it should be fixed - if you continue to see it please feel free to reopen.

thanks!

[2019-10-08 14:16] #150 closed

[2019-10-14 12:56] slorello89 commented on #146
@judy2k Support for this has been added in 4.1.2

[2019-10-14 12:56] #146 closed

[2019-10-14 12:59] slorello89 commented on #140
@janpieterz I have added signature / validation support for HMACS in v4.1.2 of the SDK - you are indeed right - the _/- ordering threw me threw a loop :).

Snippets for how to go about signing / validation with the SDK can be found here: https://developer.nexmo.com/concepts/guides/signing-messages/dotnet

[2019-10-14 12:59] #140 closed

[2019-10-31 01:17] tellstoriesatbedtym opened #170 "How to create strong typed ncco object for websocket?"
Looks like the version SDK 4.2 is missing option to create strong typed ncco object for websocket action. Looking at the API, it seems to only support these:

![image](https://user-images.githubusercontent.com/39365214/67910823-75d74900-fb41-11e9-99c9-8227d48a41d8.png)

[2019-10-31 01:19] tellstoriesatbedtym opened #171 "Use correct basic data types instead of string for strong-typed NCCO objects"
I was looking at creating the ncco object for record action, and it seems there are some properties which are taking string instead of base types like bool or int.

For eg, look at the TimeOut and BeepStart property values:
![image](https://user-images.githubusercontent.com/39365214/67910900-bd5dd500-fb41-11e9-889e-f59e671ce49a.png)

[2019-10-31 01:26] slorello89 commented on #170
Hi @tellstoriesatbedtym ,

websocket is not a valid action - you would use a connect Action with a websocket endpoint.

thanks!

[2019-10-31 01:36] slorello89 commented on #171
Hi @tellstoriesatbedtym,

A little strange I know but those types are correct for both timeout and beepStart.

[2019-11-02 00:07] tellstoriesatbedtym commented on #170
I see, let me try it.

[2019-11-05 19:12] slorello89 opened #173 "Configurations Abstractions mismatch when using .NET Framework"
For some reason Microsoft.Extensions.Configurations.Abstractions version 1.0.2 while the SDK is trying to bind to version 1.1.2.

This is an issue primarily be affecting the .NET Framework versions though the dependency should be established for all.

error message:
[code]

[2019-11-11 20:20] slorello89 commented on #173
issue is resolved from: https://github.com/Nexmo/nexmo-dotnet/commit/ea42f4a10083eade0b6cdccb8f04d4c6aa5e2cfa

[2019-11-11 20:20] #173 closed

[2019-11-11 20:20] slorello89 commented on #154
@fauna5  thanks so much for the PR - this will be in the SDK 4.2.1 release!

[2019-11-11 20:22] slorello89 commented on #170
@tellstoriesatbedtym

I'm assuming this is functional as it's been functional in my testing and we haven't heard an update in a while - thanks so much for raising the issue - always good to have another sanity check - if you encounter any more issues feel free to open an issue or ping me in the community slack channel.

[2019-11-11 20:22] #170 closed

[2019-11-11 20:23] slorello89 commented on #171
closing this issue as I've not seen an update for some time and it appears functional in my testing as is.

[2019-11-11 20:23] #171 closed

[2019-11-11 20:23] slorello89 commented on #55
This has been implemented.

[2019-11-11 20:23] #55 closed

[2019-11-11 20:25] slorello89 commented on #44
this has been implemented

[2019-11-11 20:25] #44 closed

[2019-11-13 13:39] slorello89 commented on #154
@fauna5 this is in v4.2.1 which I just pushed out yesterday - thanks so much again for your contribution!.

[2019-11-13 13:39] #154 closed

[2019-11-14 19:09] AhmedZaza commented on #77
@smithrobs i have the same issue on asp.net core 2 (nexmo website sample code).
why i'm getting this error ?

[2019-11-14 20:20] slorello89 commented on #77
Hi @AhmedZaza there is some error handling issues that we will be addressing shortly - but the error 'Value Cannot be Null' generally means we got a non-successful response back from the server - in all likelihood I'd guess it's a 401 error can you confirm you're using the appropriate credentials with the client? Feel free to find me in the nexmo community slack if you need help.

[2019-11-15 14:26] AhmedZaza commented on #77
@slorello89 okay add me on slack plz.
my slack mail : a.zaza48@yahoo.com

[2019-12-12 14:00] slorello89 opened #179 "ip_address is ignored when passed into Verify Request."
https://github.com/Nexmo/nexmo-dotnet/blob/d7968de5c1805d55d2fc9c1069ac8f880296ca5b/Nexmo.Api/NumberVerify.cs#L141-L151

If an app passes in an ip_address to a Verify Check request - it is not added to the parameters of the request.

[2019-12-23 07:41] ihoeysun opened #181 "Request aborted: SSL/TLS security channel could not be created."
Use Nexmo sms SDK in .NET Framework 4.5.2,

Throw some exceptions：
Request aborted: SSL/TLS security channel could not be created.

StackTrace:
   at System.Threading.Tasks.Task.ThrowIfExceptional(Boolean includeTaskCanceledExceptions)
   at System.Threading.Tasks.Task.Wait(Int32 millisecondsTimeout, CancellationToken cancellationToken)
   at Nexmo.Api.Request.ApiRequest.DoRequest(String method, U

[2019-12-23 13:20] slorello89 commented on #181
Hi @ihoeysun  - pre 4.6 .NET versions do not set TLS to 1.2 by default (which is what is required to speak to the Nexmo APIs. We do not explicitly set the TLS version in our software version at the moment. There are a few ways that you can do it.

1. In your code you can explicitly set the TLS version to 1.2 with the following line:  `System.Net.ServicePointManager.SecurityProtocol = System.Net.Se

[2019-12-24 03:09] ihoeysun commented on #181
I am very glad to receive your reply. Thank you very much

[2019-12-25 17:38] slorello89 commented on #181
#182

[2019-12-25 17:57] slorello89 commented on #181
Hi @ihoeysun - I'm glad this helped you - I left a note in our README that should help guide anyone stuck in this predicament down the line. I'm going to close out this issue as it appears your issue has been resolved.

[2019-12-25 17:57] #181 closed

[2020-01-30 23:29] bawoodruff opened #185 "System.ArgumentNullException : Value cannot be null. (Parameter 'value')"
### General description of the issue or question
[code]

The issue is in the SMS.Send() implementation:
[code]

The issue is that when the request returns an error such as a server error, bad gateway, etc. the JsonResponse is null.  The NexmoResponse result code is lost.  Given the current design of this API, I'd like to propose an override that accepts a new out parameter HttpResponseCode and ret

[2020-01-30 23:36] slorello89 commented on #185
Hi @bawoodruff

The next major version of the SDK will set the default behavior to toss an exception with the status code and the content of the failed request.

For the moment you should be able to override the default behavior and make it throw an exception that describes the error by setting the configuration item  `appSettings:Nexmo.Api.EnsureSuccessStatusCode` to true.

Generally, when the SM

[2020-01-31 01:43] bawoodruff commented on #185
@slorello89 I pushed a change that uses an out parameter to return the HttpStatusCode.   This is how I'm addressing this locally.

I'm ran into these issues by mocking the responses (e.g. mountebank) and now using the underlying HttpClientHandler to simulate service client request responses.

[2020-01-31 01:55] bawoodruff commented on #185
Given that you have a solution forthcoming, I'll use my current implementation until the next SDK update.

[2020-01-31 01:55] #185 closed

[2020-02-04 17:43] lornajane commented on #179
It is also not used by the API for anything so this probably isn't very high priority. It was used by an earlier integration but I was asked to update the spec to mark the field deprecated.

[2020-02-05 13:35] slorello89 commented on #147
Hi @AECDev11

I'm pretty sure this is a duplicate of: https://github.com/Nexmo/nexmo-dotnet/issues/154 - can you try to load the newest version (4.3.0) and see if you are still encountering this issue.

thanks

[2020-02-06 20:32] slorello89 commented on #179
As the API isn't actually used and the field is being deprecated I'm going to go ahead and close this issue.

[2020-02-06 20:32] #179 closed

[2020-02-07 14:18] slorello89 commented on #149
Hi @Pugalit - There's a bug in the command structures for stream and talk that is essentially ignoring the 0. The serializer in the VersionedApiRequest actually ignores default values - which for integers 0 is - I have opened #190 to address this issue and this should be available in the next release of SDK (4.3.1)

[2020-02-07 15:22] slorello89 commented on #127
Hi @cleverkom-twarnick - just tried to reproduce this with the message that you mentioned - I think this may have been resolved in one of the later releases of the SDK - I am not having this issue - can you confirm?

[2020-02-07 15:36] slorello89 commented on #116
#187

[2020-02-07 15:39] slorello89 commented on #100
#187 will make the errors more explicit - you're most likely encountering an HTTP error when you try to send the request - guess would be it's a 401 (bad credentials) I'd refresh your private key - ensure it's saved and try it again.

[2020-02-07 15:40] slorello89 commented on #134
#187 will make these errors more explicit - essentially this means the status received back from the Nexmo API was not successful - most likely due to a bad private key.

[2020-02-07 15:42] slorello89 commented on #71
#187 will make this more explicit.

[2020-02-07 16:25] slorello89 commented on #63
@tommorris - is this still something that needs to be done? if so can you extrapolate on it a bit more?

[2020-02-07 16:30] #63 closed

[2020-02-07 19:47] slorello89 commented on #145
@lval and @speechwrecko - fyi just submitted #191 which ought to fix this issue - the .NET HTTP library is objecting to the parentheses surrounding the date - I'm moving the User Agent's descriptor to be in line with our specs which will resolve the issue - this should hopefully be coming soon to 4.3.1

[2020-02-10 09:11] janpieterz opened #192 "WhatsApp non-beta timeline"
The WhatsApp messaging API wasn't implemented (yet) as it was in beta. Any timeline idea on releasing this as non-beta?

As a feature suggestion, it'd be interesting to, for future releases, have an easy way to speak to the Nexmo API via this library (handling authentication and other underlying tasks), exposing something like a custom request sender.

[2020-02-10 16:42] slorello89 commented on #192
Hi @janpieterz thanks for writing in - we don't have a date yet when the messages stuff will be out of beta.

As per your request to open up the SDK to allow custom requests - thanks for the feedback it's definitely something we are considering.

FYI for messages and dispatch - I created a couple samples in our blog about using it with .NET that should make your integration a snap.

Check out: htt

[2020-02-11 08:56] janpieterz commented on #192
@slorello89 great, the JWT calculation is a nice help. We'll migrate our code over to use it.

[2020-02-11 08:56] #192 closed

[2020-02-11 14:15] #145 closed

[2020-02-24 15:18] slorello89 commented on #149
Hi @Pugalit - this issue is fixed in the latest version of the SDK - version 4.3.1

FYI in order for you to use the loop parameter the way you'd like to, you will need to make sure that the NCCO you are using to create your call puts you in a conversation - if you were to, for example, just create the call with a talk action - when it reached the end of that action the call will end.

So try somet

[2020-02-24 15:18] #149 closed

[2020-02-24 15:19] slorello89 commented on #127
Hi @cleverkom-twarnick - As I'm not able to reproduce I'm going to assume this issue was resolved - I'm going to close it out - feel free to reopen if you encounter the issue again with the latest SDK.

thanks,

[2020-02-24 15:19] #127 closed

[2020-02-24 15:22] slorello89 commented on #145
Hi @lval and @speechwrecko - I just released version 4.3.1 - which should fix the issue - I did not realize I closed this issue earlier - was meant to be kept open until today - if you encounter this issue again please let me know!

[2020-02-25 14:12] #11 closed

[2020-03-20 13:01] evi-pparedes commented on #134
Hi, we've been facing the same issue on version 4.3.1. It seems that, indeed, the problem is with the application ID as the same error occurs when I try to send an invalid ID.
Are there any new insights on this error?
It would be very bad if we'd have to create a new voice application any time this issue arises.

Thank you for your time.

[2020-03-20 13:12] slorello89 commented on #134
Hi @evi-pparedes - so the first thing I would do is to enable `Nexmo.Api.EnsureSuccessStatusCode` in your configuration - that will force the Http exception to show itself - in the next major release I'll be making the errors a lot more explicit. If what you're seeing is a 401 - bad credentials - then you likely have a bad private key/appId combo that you're using. Go to your dashboard and open th

[2020-03-21 00:12] taylus opened #196 "StreamAction request serialization issue"
### General description of the issue or question
Hello, I'm running into an HTTP 400 Bad Request error while using `StreamAction` to play audio in a phone call:

[code]

I observed the REST API traffic and noticed that the `streamUrl` property is being serialized as a single string. It looks like per [this documentation](https://developer.nexmo.com/voice/voice-api/ncco-reference#stream) this shoul

[2020-03-21 00:24] slorello89 commented on #196
will close this with the next release.

[2020-04-06 17:56] slorello89 opened #198 "Websocket headers serialization issue"
Websocket headers are unable to serialize correctly because they are set to a string rather than an object, consequentially when it's serialized - any quotation marks have escape characters added see: https://github.com/Nexmo/nexmo-dotnet/commit/360a7dac3d453cdb67d63fcf64c579eb626dfeff#diff-a603e9677de8c7643017828c85503012R48

[2020-04-08 15:46] slorello89 commented on #198
This issue is resolved as a result of the 4.3.2 release

[2020-04-08 15:46] #198 closed

[2020-04-08 15:47] slorello89 commented on #196
Closing this out per the new 4.3.2 release

[2020-04-08 15:47] #196 closed

[2020-04-08 15:55] slorello89 commented on #147
Hi @AECDev11  - going to close this out as I haven't heard back from you - if this is still an issue please reopen the issue - thanks!

[2020-04-08 15:55] #147 closed

[2020-04-08 16:25] slorello89 commented on #99
There is an appsettings.json.example file for each of the test projects which you would just need to replicate in an appsettings.json file to have the config items set. I think this should resolve the issue so I'm going to close this issue out. If that doesn't solve the problem feel free to reopen and let me know exactly what you need in the app.config. Thanks!

[2020-04-08 16:25] #99 closed

[2020-04-08 16:26] #94 closed

[2020-04-08 16:27] slorello89 commented on #85
In app messaging will not be added to the server SDK - stitch will be added when appropriate.

[2020-04-08 16:27] #85 closed

[2020-04-08 16:30] #41 closed

[2020-04-12 16:33] ahron33 opened #201 "'The type initializer for 'Nexmo.Api.Configuration' threw an exception.'"
I am getting this error whe i am trying to send a call voice throw an android app in visual studio
.NET 2.0
do i need add more details?

[2020-04-12 16:37] slorello89 commented on #201
Hi @ahron33 - I'm afraid the .NET Framework 2.0 is not supported by the Nexmo .NET SDK - see list of supported versions here: https://github.com/nexmo/nexmo-dotnet#targeted-frameworks -

If you are in fact using .NET core 2.0 - which is supported I'll have to ask you to make sure that you are using the latest version of the .NET SDK - and to ask you to check to see if your application is using ano

[2020-04-12 17:02] ahron33 commented on #201
my max version on the android sln is 2.1 it wont support it? no way to do it?

[2020-04-12 17:10] slorello89 commented on #201
Hi @ahron33 - I just noticed that you were referring to running this in an android app. I'm afraid - that regardless of .NET version we do not support that. The .NET server SDK is meant to be running server-side only - as running client-side risks the leak of your application's secrets (private key, API secret). If you are looking to use the .NET server SDK - my recommendation to you is that whate

[2020-04-12 17:17] ahron33 commented on #201
i am using this app only to my self so i dont think so that it will be leaked... (fix me if i am worng)
but you send a link what do i need to do with this?

[2020-04-14 11:38] slorello89 commented on #201
Hi @ahron33 - that link is to our docs on the Client SDK, which is available for Android, and which does supply in-app voice and messaging capabilities. The documents do a better job describing what the SDK does - and how you can build with it than I can. If you have any questions regarding it I'd encourage you to reach out to us on our community [slack] (https://developer.nexmo.com/community/slac

[2020-04-14 11:38] #201 closed

[2020-06-22 13:52] slorello89 commented on #134
Hello all who were running into this issue - the "Value Cannot be Null" was just bad error reporting coming off of the SDK. We've Just pushed a new update where errors encountered like these will continue to throw exceptions - however they will be typed exceptions and they will describe what the issue is for your debugging. I am closing this out as it should e resolved. If you continue to experien

[2020-06-22 13:52] #134 closed

[2020-06-22 13:53] slorello89 commented on #116
Hi @Pipepito - FYI as of version 5.0.0, the SDK will now throw exceptions with a status code and a best-attempt description of what went wrong. I'm closing out this issue - if you continue to encounter it please feel free to reopen.

thanks,

[2020-06-22 13:53] #116 closed

[2020-06-22 13:54] slorello89 commented on #100
Hello - as of v5.0.0 - this should no longer be an issue - the SDK when encountering a problem with throw a much more explicit error that will point you at exactly what went wrong - I'm going to close this issue because of this - if you continue to encounter this issue feel free to reopen.

[2020-06-22 13:54] #100 closed

[2020-06-22 13:55] slorello89 commented on #61
framework support has been moved to 4.5.2, 4.6 and .net standard 2.0 - thus I'm closing this issue.

[2020-06-22 13:55] #61 closed

[2020-06-22 13:56] slorello89 commented on #25
This is going to be part of the nexmo-jwt RFC - thus I'm going to close this out as it will not affect this SDK.

[2020-06-22 13:56] #25 closed

[2020-06-22 13:56] slorello89 commented on #71
Errors will be much more explicit now in v5.0.0 - we'll make a best-effort to describe the error and we will throw an exception with the error code. Closing this issue out - if anyone continues to encounter these problems please feel free to reopen.

[2020-06-22 13:56] #71 closed

[2020-06-22 13:57] slorello89 commented on #87
Looks like this was resolved a while ago - going to close this now

[2020-06-22 13:57] #87 closed

[2020-06-22 13:58] slorello89 commented on #36
version 5.0.0 resolves the inconsitent naming issues across the SDK. Legacy data-structures have been left to leave a viable upgrade path.

[2020-06-22 13:58] #36 closed

[2020-06-22 13:59] #89 closed

[2020-07-15 18:29] DanielStout5 opened #209 "EventBase does not handle MultiInput Webhook Event Format (Throws JsonReaderException)"
If you try to use the `Input` class from your library, it says it is obsolete:

`
This item has been rendered obsolete due to the new multi-input functionality. Please add dtmf arguments to your input action and use the MultiInput object - see: https://developer.nexmo.com/voice/voice-api/ncco-reference#dtmf-input-settings
`

If you call `EventBase.ParseEvent(json);` where `json` contains the new d

[2020-07-15 19:17] slorello89 commented on #209
Hi @DanielStout5 - thanks so much for pointing this out. I've opened #210 to address this issue. FYI - I have another PR opened that will help you out with parsing your webhooks generally that should be released at the same time #208. This will allow you to parse straight out of the body/query of your asp.net/asp.net core API controllers.

Thanks for your input!

[2020-07-17 14:51] DanielStout5 opened #211 "TalkAction.BargeIn should be a bool not a string"
BargeIn is either true/false, so there is no reason for this to be anything but a bool property.

Currently it is a string in TalkAction.cs

[code]

[2020-07-17 16:35] slorello89 commented on #211
Hi @DanielStout5 - thank you for reaching out again. You are right, the accepted values of `BargeIn` are `true` and `false`. However, both the boolean and the string should be accepted values by the API so it's not "wrong" for this to be set as a string, as a matter of fact when I was implementing this I saw it allowed both and wanted to leave this flexible. I know it's some weirdness but hopefull

[2020-07-17 16:51] DanielStout5 commented on #211
I would call that pretty non-intuitive - if a property can only have values "true" and "false", you'd expect that to be a bool, not a string. I'm glad it works passing as a string, but as an end-user of the library it definitely is strange for a bool property to be typed as string, in my opinion.

[2020-08-12 12:41] slorello89 commented on #209
Hi @DanielStout5 - this issue is resolved by the release of v5.2.0 so I'm going to close this issue.

[2020-08-12 12:41] #209 closed

[2020-08-13 10:08] surexxx opened #212 "DeliveryReceipt: A member with the name 'status' already exists on 'Nexmo.Api.Messaging.DeliveryReceipt'. Use the JsonPropertyAttribute to specify another name.'"
I have updated the Nexmo.Csharp.Client nuget from version 4.0.0 to 5.2.0. Updated the code sending sms and receiving dlr report using code snippets from here:
- https://developer.nexmo.com/messaging/sms/code-snippets/send-an-sms
- https://developer.nexmo.com/messaging/sms/code-snippets/delivery-receipts

When testing receiving delivery report from postman with this payload (from here: https://deve

[2020-08-13 10:30] slorello89 commented on #212
Hi @surexxx thanks for bringing this to my attention:

I notice that the `Status` attribute isn't being ignored in the [DeliveryReceipt](https://github.com/Nexmo/nexmo-dotnet/blob/master/Nexmo.Api/Messaging/DeliveryReceipt.cs#L42) class so I'm wondering if that's where this is coming from (that's an enum being parsed from the string status). However I do have a [unit test](https://github.com/Nexmo

[2020-08-13 10:42] surexxx commented on #212
Hi @slorello89

Thanks for rapid answer. I'm using Newtonsoft.Json 11.0.2.

[2020-08-13 10:51] slorello89 commented on #212
@surexxx - Hmm Newtonsoft doesn't seem to be the problem, I still can't reproduce it using Newtonsoft 11.0.2/core2.2. Do you have a sample project where this is happening I could possibly look at?

[2020-08-13 11:24] surexxx commented on #212
@slorello89 - I'll try to make a sample project.

[2020-08-13 11:29] surexxx commented on #212
@slorello89  - I think I found the problem. In startup.cs I used a default contract serializer:
`JsonConvert.DefaultSettings = () =>
                new JsonSerializerSettings
                {
                    ContractResolver = new CamelCasePropertyNamesContractResolver()
                };`
After these lines removed, it's working. Try it pls.

[2020-08-13 12:16] RomanSoloweow opened #213 "Не удалось загрузить файл или сборку "Microsoft.Extensions.Configuration.Abstractions, Version=1.1.2.0, Culture=neutral, PublicKeyToken=adb9793829ddae60" либо одну из их зависимостей. Найденное определение манифеста сборки не соответствует ссылке на сборку. (Исключение из HRESULT: 0x80131040)"
Thank you for making this library better by submitting an issue. To ensure we can troubleshoot effectively,
please fill out this form in its entirety.

If you are submitting a feature request you may ignore this template and enter a free-form description of your request.
You may also contact the maintainers directly via the Nexmo Slack to discuss the feature.

### General description of the issue

[2020-08-13 12:24] slorello89 commented on #213
Hi @RomanSoloweow thanks for writing in,

That can happen if you don't have all of the Microsoft.Extensions.x packages aligned on the same version with each-other - we use 1.1.2 but you should still be able to use them together if. Could you double-check to make sure all of your Microsoft.Extension libraries are the same version - we should be able to see it looking at the csproj file where the Ne

[2020-08-13 12:50] RomanSoloweow commented on #213
all of my Microsoft.Extension libraries are the 3.1.7 version

![image](https://user-images.githubusercontent.com/29205560/90136289-9bee7280-dd7c-11ea-89b2-739ce52937aa.png)

[2020-08-13 13:08] slorello89 commented on #212
Yep that's definitely it, I opened #214 to address this. In the interim you can work around this telling the serializer to use the `DefaultContractResolver` when you are deserializing the DLR

[code]

[2020-08-13 13:23] slorello89 commented on #213
Hmmm, Can you try reinstalling the `Microsoft.Extensions.Configuration.Abstractions` package - there can be some weirdness associated with assembly resolution - but I'm trying 3.1.7 on my machine on .NET Framework 4.6.1 and am having no problems.

[2020-08-13 13:33] surexxx commented on #212
Thanks a lot @slorello89 👍

[2020-08-13 13:35] slorello89 commented on #213
@RomanSoloweow it's probably also worth asking, you are using the latest version of the SDK right? 5.2.0? Thanks

[2020-08-19 10:19] sejapsit opened #216 "How handle the issues that is thrown by nexmo API"
I m using verify request and verify check API which throws error i want to know how to handle it in .net

Verify request
1.	If I add wrong number “Verify Request Failed with status: 3 and Error Text: Invalid value for param: number”
2.	If I verify concurrently “Verify Request Failed with status: 10 and Error Text: Concurrent verifications to the same number are not allowed”
VerifyCheck
1.	If I re-

[2020-08-19 12:28] slorello89 commented on #216
Hi @sejapsit - great question,

A commented out region of your code is trying to catch a `VerifyResponseException` which is an exception thrown by the legacy NumberVerify class - that class, and the corresponding exception was deprecated in 5.0 (the class was preserved to make the upgrade path easier) Unfortunately, it occupies the `Nexmo.Api` namespace - so I can see why this would be confusing.

[2020-08-19 12:30] slorello89 commented on #213
Hi @RomanSoloweow - just wanted to check in to see how you were managing with this - have you been able to work past it?

[2020-08-19 12:30] sejapsit commented on #216
I tried using this " NexmoVerifyResponseException" but it get catch in "Exception" as you can see in Screen shots that's the reason i comment it

[2020-08-19 12:35] slorello89 commented on #216
Hi @sejapsit

Taking another look I still don't see you catching the `NexmoVerifyResponseException`, again you're catching the `VerifyResponseException`, which is a legacy class, and a `NexmoHttpRequestException` (which is thrown when the client encounters a 400/500 error code when communicating with the API).

[2020-08-19 12:46] sejapsit commented on #216
Hi @slorello89
okay ya I got it thanks I ll try and let you know

[2020-08-19 13:31] sejapsit commented on #216
@slorello89,
Thankyou for your help its working also want to confirm for SendAnSMS API I need to use "NexmoSmsResponseException" am I?.

[2020-08-19 14:10] slorello89 commented on #216
Hi @sejapsit - really glad to hear it's working - yes [NexmoSmsResponseException](https://github.com/Nexmo/nexmo-dotnet/blob/master/Nexmo.Api/Messaging/NexmoSmsResponseException.cs) is the correct error.

[2020-08-19 14:11] sejapsit commented on #216
Thankyou @slorello89

[2020-08-19 14:11] #216 closed

[2020-09-14 14:52] slorello89 opened #219 "Incorrect enumeration of workflow"
https://github.com/Vonage/vonage-dotnet-sdk/blob/af1d91e31c0f4736c0c2a063ef78a101882f45a1/Vonage/Verify/VerifyRequest.cs#L10

Workflow 2 is marked as the workflow of 1 causing serialization issue - the same issue exists in:

https://github.com/Vonage/vonage-dotnet-sdk/blob/master/Vonage/Verify/Psd2Request.cs#L10

For more detail see the [developer portal](https://developer.nexmo.com/verify/guides/

[2020-09-25 20:20] slorello89 opened #221 "Cleaner implmentation for VoiceClient"
As it stands right now, the [IVoiceClient](https://github.com/Vonage/vonage-dotnet-sdk/blob/master/Vonage/Voice/IVoiceClient.cs#L15) is a direct wrapper around our [Voice REST API](https://developer.nexmo.com/api/voice#createCall). This is usable but a tad clunky as it requires the user to create a To/From endpoint object, and either provide an answer URL or NCCO Object.
Right now, creating a call

[2020-09-25 20:32] slorello89 opened #222 "Enhancements to the ISmsClient"
[ISmsClient](https://github.com/Vonage/vonage-dotnet-sdk/blob/master/Vonage/Messaging/ISmsClient.cs) currently only has 1 method which accepts a `SendSmsRequest` object. It would be nice to add overloads to this to support the most common use cases (e.g. just sending a flat text message from a number to a number - skipping the initialization of a separate request object)

The new signature will lo

[2020-09-28 21:32] kzuri commented on #219
Hello @slorello89, can I help with this issue ?

[2020-09-28 21:34] slorello89 commented on #219
Yep feel free to!

[2020-10-01 01:30] guctum commented on #222
@slorello89 hey can I snag this?

[2020-10-01 01:32] slorello89 commented on #222
Hi @guctum - feel free!

[2020-10-01 02:16] guctum commented on #222
@slorello89 clarification question: implemented in SmsClient.cs, is there any specific business logic the overload needs? Or should it take similar logic as the original?

[2020-10-01 02:33] slorello89 commented on #222
It's performing the same function - it's just a specific (and very common Usecase). the idea is that it saves the user from having to initialize the SendSmsRequest object.

[2020-10-01 05:11] gagandeepp commented on #221
Interested , please assign this to me

[2020-10-01 09:43] Parikshit-Hooda opened #224 "typo in readme.md"
Thank you for making this library better by submitting an issue. To ensure we can troubleshoot effectively,
please fill out this form in its entirety.

If you are submitting a feature request you may ignore this template and enter a free-form description of your request.
You may also contact the maintainers directly via the Nexmo Slack to discuss the feature.

### General description of the issue

[2020-10-01 15:00] gagandeepp commented on #126
Is it still open?

[2020-10-01 23:21] kzuri commented on #219
@slorello89 have a look at this 😄

[2020-10-02 11:58] slorello89 commented on #221
Feel free to take this @gagandeepp :)

[2020-10-05 17:15] #224 closed

[2020-10-06 11:09] smikis commented on #126
Created PR for async implementation. Please tell me if it's missing something

[2020-10-06 16:49] gagandeepp commented on #221
https://github.com/Vonage/vonage-dotnet-sdk/pull/231

[2020-10-07 12:45] Huray-hub commented on #126
Hi! Is it still open? If it is, feel free to assign it to me!

[2020-10-07 12:54] slorello89 commented on #126
Hi @Huray-hub - @smikis has a PR open for this already :)

[2020-10-07 13:11] Huray-hub commented on #126
Oh, ok. If I could have seen it and didn't, then sorry. I'm new to open source contributing.

[2020-10-20 20:00] slorello89 opened #234 "RSA error when using key files with CRLF"
### General description of the issue or question
If you try to create your Credentials object from the [private key path](https://github.com/Vonage/vonage-dotnet-sdk/blob/master/Vonage/Request/Credentials.cs#L89), if the private key uses CRLF line endings it will break.

This might arise if you used the Nexmo CLI to create your application and then copy-pasted the printed key into a notepad instan

[2020-10-22 16:05] gagandeepp commented on #234
assign this to me

[2020-10-22 16:25] gagandeepp commented on #234
How to test this?

[2020-10-22 17:13] slorello89 commented on #234
Here's a [Key](https://gist.github.com/slorello89/a162c11b10b72d2b163f8c0e556148b9) file that threw the exception for me.

[2020-10-23 06:49] gagandeepp commented on #234
I have debugged this issue and found this link
https://stackoverflow.com/questions/26551116/rsaprovider-importparameters-bad-data-for-some-special-rsa-private-keys

Code is throwing exception at   RSA.ImportParameters(RSAparams); in PemParse.cs file

[2020-10-26 13:34] slorello89 commented on #234
Hi @gagandeepp - I looked a bit deeper - the CRLF was actually not the problem. The issue was with the key itself.

The modulus component of the key is 256 bytes, however, the private exponent of the key that's encoded is only 255 bytes. The runtime made a change https://github.com/dotnet/corefx/pull/39087/files#diff-a6640d288f1f2114f5998225c0de2ff658318f8217377b05951ef4ce59dee5cbR79 that made thi

[2020-10-26 13:34] #234 closed

[2020-10-27 20:52] huzefa-k opened #237 "Getting the following exception while trying to send out an SMS message"
Thank you for making this library better by submitting an issue. To ensure we can troubleshoot effectively,
please fill out this form in its entirety.

If you are submitting a feature request you may ignore this template and enter a free-form description of your request.
You may also contact the maintainers directly via the Nexmo Slack to discuss the feature.

### General description of the issue

[2020-10-28 19:14] slorello89 commented on #237
Hi @huzefa-k - this looks like an issue with the SDK trying to pull in your config file (that's where it's emanating from) - looking at the paths your talking about - are you trying to run this in some kind of android environment?

[2020-10-28 20:02] huzefa-k commented on #237
That is correct. I am building and deploying my apk on my Motorola Android phone.

Which config file is the sdk looking for? Your documentation does not mention anything about setting up a config file.

[2020-10-28 20:16] slorello89 commented on #237
Hi @huzefa-k - the SDK does not actually require a config file. The issue probably exists as an eccentricity of how `Microsoft.Extensions.Configuration` (which is where we manage the configuration state) works in the mono environment.

Unfortunately, this makes it outside of scope as this SDK. The SDK is specifically meant for servers and is not intended to be used on client devices (mobile/web/de

[2020-10-28 20:16] #237 closed

[2020-11-02 08:00] huzefa-k commented on #237
Did implement the functionality on my server and now SMS is working correctly for my system. Thanks for helping out.

[2020-11-02 15:30] slorello89 commented on #221
This issue is resolved by #231

[2020-11-02 15:30] #221 closed

[2020-11-02 15:30] slorello89 commented on #219
This issue is resolved by #227

[2020-11-02 15:30] #219 closed

[2020-11-25 20:02] Cereal-Killa commented on #212
Since Status has been renamed to StringStatus this issue doesn't' apply anymore on the latest revision right?

[2021-01-11 12:25] surexxx commented on #212
@Cereal-Killa the version I'm using is Newtonsoft.Json Version=11.0.0.0

[2021-01-26 22:56] baroved1 opened #244 "Generate Signature Secret for test Inbound SMS And ValidateSignature"
I have tried to generate signature(sig) from your library – for test my webhook and validate signature.
But I got invalid signature.
I attached my unit test code, What Am I doing wrong ?
I think the data that i send as the first param to GenerateSignature method, it is wrong.
Thanks!
![1](https://user-images.githubusercontent.com/78050926/105916952-6ee80080-603a-11eb-8f22-4d8ff1849458.PNG)
![2](ht

[2021-01-27 21:03] slorello89 commented on #244
Hi  @baroved1 - you're using the `GenerateSignature` method incorrectly, that should probably be an internal method - but essentially what it's doing is taking a string that is compliant with the format laid out in our [guide](https://developer.nexmo.com/concepts/guides/signing-messages) and generating a signature from it. The inbound message structure provided by the SDK can actually [generate](h

[2021-01-27 23:53] baroved1 commented on #244
So, How Can I generate signature for testing my webhook?
I would like to write unit testing...

[2021-01-28 12:19] slorello89 commented on #244
https://github.com/Vonage/vonage-dotnet-sdk/blob/master/Vonage.Test.Unit/MessagingTests.cs#L340 - This is how I test it.

[2021-01-28 12:20] slorello89 commented on #222
This Item was resolved in v5.6.2 - much thanks to paul for all his help!

[2021-01-28 12:20] #222 closed

[2021-01-28 12:20] slorello89 commented on #212
This item has been resolved as of 5.6.3.

[2021-01-28 12:20] #212 closed

[2021-02-03 22:21] baroved1 commented on #244
Thank you , It works for me !

[2021-02-03 22:21] #244 closed

[2021-03-19 07:39] troyvnit opened #250 "Migrate Shorts Code 2FA API to SMS API using 10 DLC"
Hi,

I have implemented the 2FA using client.ShortCode.RequestTwoFactorAuth for 2 years. Few days ago I received an email about 10 DLC migration needed. But I am unable to find good docs / examples to keep our 2FA flow. I already checked the Vonage Verify API but it will impact to whole system on both mobile and backend. So, my question is:
Is there any guide to replace client.ShortCode.RequestTwo

[2021-03-19 13:33] dragonmantank commented on #250
Please keep in mind 10DLC is only replacing the Shared Short Code numbers. If you are using a Dedicated Short Code, you will be fine. Carriers are only removing access to shared codes.

The new 10DLC restrictions is not actually an entirely new API, but a registration system for long virtual numbers (the regular 10 digit geographic numbers). 10DLC allows you to register a geographic number for man

[2021-04-28 06:31] AndrewGorstcheruk opened #252 "v5.7.0 doesn't support the latest changes in Number Insight API"
### General description of the issue or question
v5.7.0 doesn't support the latest changes in Number Insight API:
If roaming is unknown there is a change in the JSON structure:
Old response:
"roaming": { "status": "unknown"}
New response:
"roaming": "unknown"
If roaming value is roaming (aka true) then nothing changes between the old code and the new code.

### Which target framework(s) of .NET ca

[2021-05-17 13:28] slorello89 commented on #252
Hi @AndrewGorstcheruk - this issue is resolved by #251 and the release of v5.8.0 - thank you for pointing this out!

[2021-05-17 13:28] #252 closed

[2021-08-07 00:21] ahmedCareAngel opened #254 "Vonage.Request.VonageHttpRequestException- Vonage.Request.ApiRequest Error during Call Transfer"
I don't know if  the below referenced issue is the same , but  I am hoping i can get to the bottom if this intermittent issue when transferring calls it happens less than 10% of transfers:

outerMessage
Response status code does not indicate success: 400 (Bad Request). Json from error: {"type":"BAD_REQUEST","error_title":"Bad Request"}

outerAssembly
Vonage, Version=5.3.0.0, Culture=neutral, Publi

[2021-10-09 16:36] mpro-madhu opened #255 "Support for .net core or .net 5"
Team,

Wanted to check if there are plans to support .net core or .net 5 based applications. Please let us know.

Thanks,
Madhu

[2021-10-27 15:31] matt-lethargic opened #258 "Null Reference Exception when no auth credentials"
### General description of the issue or question
Currently, if you do not supply the correct auth credentials for the task at hand, SMS/Voice etc, the SDK throws a Null Reference Exception and the consumer will have to dig into the SDK code to find out why

### Which target framework(s) of .NET can you reproduce this issue against?
All

### What operating system(s) is exhibiting this issue?

### V

[2021-11-04 11:26] #255 closed

[2021-12-03 15:30] #126 closed

[2021-12-03 15:34] #250 closed

[2022-01-13 09:44] matt-lethargic commented on #211
This will be changed to a boolean in the next major version of the SDK.
Leaving this issue open as a reminder

[2022-01-17 21:03] hognevevle commented on #192
Any updates here on the timeline? I'd love to see support for Messages API in this SDK.

[2022-03-01 10:25] matt-lethargic commented on #258
Addressing this with #264

[2022-03-03 09:46] #258 closed, assigned to matt-lethargic

[2022-03-03 10:43] matt-lethargic commented on #254
Hey @ahmedCareAngel sorry for the VERY long reply, we normally try not to leave things this long. I've been looking at the issue and the fix that you mentioned. I can't see this as being the same issue as the fix mentioned by @sk2andy was implemented a long time ago and we have tests that cover this situation.

What would be really useful is if you could get the payload logs for the calls that hav

[2022-04-11 14:04] matt-lethargic commented on #254
Closing as no reply from OP

[2022-04-11 14:04] #254 closed

[2022-05-23 09:16] matt-lethargic commented on #211
This has been addressed in #274 and will be released with v6.x of SDK

[2022-05-23 09:16] #211 closed

[2022-06-07 08:30] mend-for-github-com opened #281 "microsoft.netcore.app.2.2.0.nupkg: 4 vulnerabilities (highest severity is: 8.8) - autoclosed"
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>microsoft.netcore.app.2.2.0.nupkg</b></p></summary>

<p>A set of .NET API's that are included in the default .NET Core application model.
1249f08feda72b116...</p>
<p>Library home page: <a href="https://api.nuget.org/packages/microsoft.netcore.app.

[2022-06-07 08:30] mend-for-github-com[bot] opened #282 "microsoft.netcore.app.2.0.0.nupkg: 3 vulnerabilities (highest severity is: 7.5) - autoclosed"
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>microsoft.netcore.app.2.0.0.nupkg</b></p></summary>

<p>A set of .NET API's that are included in the default .NET Core application model.
e8b8861ac7faf042c87a5c2f9f2d04c98b69f28d
When using NuGet 3.x this package requires at least version 3.4.</p>

[2022-06-07 08:30] mend-for-github-com[bot] opened #283 "system.xml.xdocument.4.0.11.nupkg: 1 vulnerabilities (highest severity is: 7.5) - autoclosed"
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>system.xml.xdocument.4.0.11.nupkg</b></p></summary>

<p></p>
<p>Path to dependency file: /Vonage/Vonage.csproj</p>
<p>Path to vulnerable library: /home/wss-scanner/.nuget/packages/system.text.regularexpressions/4.1.0/system.text.regularexpressions

[2022-06-07 08:30] mend-for-github-com[bot] opened #284 "xunit.runner.visualstudio.2.4.0.nupkg: 1 vulnerabilities (highest severity is: 7.5) - autoclosed"
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>xunit.runner.visualstudio.2.4.0.nupkg</b></p></summary>

<p></p>
<p>Path to dependency file: /Vonage.Test.Unit/Vonage.Test.Unit.csproj</p>
<p>Path to vulnerable library: /home/wss-scanner/.nuget/packages/system.text.regularexpressions/4.3.0/system

[2022-06-07 08:30] mend-for-github-com[bot] opened #285 "microsoft.netcore.app.2.1.0.nupkg: 9 vulnerabilities (highest severity is: 8.8) - autoclosed"
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>microsoft.netcore.app.2.1.0.nupkg</b></p></summary>

<p>A set of .NET API's that are included in the default .NET Core application model.
caa7b7e2bad98e56a687fb5cbaf60825500800f7
When using NuGet 3.x this package requires at least version 3.4.</p>

[2022-07-07 14:28] emmaduttonaccurx opened #287 "PemParse is now inaccessible as per v5.10.0"
**Describe the bug**
`PemParse.DecodePEMKey()` was working in `v5.9.5` but since upgrading to `v5.10.0` this is now inaccessible and has been made internal: https://github.com/Vonage/vonage-dotnet-sdk/commit/5b6b2523e522742640cd5a1a4ca4d59aa4b2a151

We're using this to create a JWT with custom arguments as `Jwt.cs` doesn't support this.

**To Reproduce**
[code]

**Expected behavior**
Expect to use

[2022-07-07 19:37] dragonmantank opened #288 "Messages client does not support Basic auth"
**Describe the bug**
With the release of Messages API v1, we added support for the API. Unfortunately it looks like it is hardcoded to use a JWT, but the final GA API allows Basic auth as well. We need to have it check the supplied credentials and switch based on the available creds.

**To Reproduce**
Steps to reproduce the behavior:
1. Configure a new Vonage object using just an API key and Secre

[2022-07-18 02:01] mend-for-github-com[bot] opened #289 "microsoft.net.test.sdk.16.2.0.nupkg: 1 vulnerabilities (highest severity is: 7.5) - autoclosed"
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>microsoft.net.test.sdk.16.2.0.nupkg</b></p></summary>

<p></p>
<p>Path to dependency file: /Vonage.Test.Unit/Vonage.Test.Unit.csproj</p>
<p>Path to vulnerable library: /home/wss-scanner/.nuget/packages/system.text.regularexpressions/4.3.0/system.t

[2022-08-04 22:08] mbcrump commented on #288
I am getting "VonageAuthenticationException: AppId or Private Key Path missing." when calling the following line of code after suppling the API Key and API secret. Is there any known workaround?

[code]

[2022-08-06 12:02] mend-for-github-com[bot] opened #290 "newtonsoft.json.9.0.1.nupkg: 1 vulnerabilities (highest severity is: 7.5) - autoclosed"
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>newtonsoft.json.9.0.1.nupkg</b></p></summary>

<p>Json.NET is a popular high-performance JSON framework for .NET</p>
<p>Library home page: <a href="https://api.nuget.org/packages/newtonsoft.json.9.0.1.nupkg">https://api.nuget.org/packages/newtonso

[2022-08-06 12:02] mend-for-github-com[bot] opened #291 "coverlet.collector.1.0.1.nupkg: 1 vulnerabilities (highest severity is: 7.5) - autoclosed"
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>coverlet.collector.1.0.1.nupkg</b></p></summary>

<p>Coverlet is a cross platform code coverage library for .NET, with support for line, branch and metho...</p>
<p>Library home page: <a href="https://api.nuget.org/packages/coverlet.collector.1.0.1

[2022-09-10 22:56] yanielbf commented on #288
@mbcrump I resolve the problem. You need add your private key for application in the appsettings. Cheers

[2022-11-24 08:21] surexxx opened #297 "Missing Delivery receipt class for WhatsApp messages"
I'm started to using Messaging SDK and see that WhatsAppDeliveryReceipt class is missing from SDK.

The JSON structure of message is descibed here:
https://developer.vonage.com/api/messages-olympus?theme=dark#message-status

Using the structure above a possible implementation is here:

[code]

Please add this implementation to your dotnet messaging sdk.

[2022-11-24 08:28] surexxx opened #298 "Missing InboudMessage class for WhatsApp messages"
I'm started to using Messaging SDK and see that WhatsAppInboundMessage class is missing from SDK, that represents the inbound message structure got from webhook.

The JSON structure of message is descibed here:
https://developer.vonage.com/api/messages-olympus?theme=dark#webhooks

Using the structure above a possible implementation is here:

[code]
Please add it to your dotnet messaging sdk.

[2022-11-28 08:50] Tr00d commented on #297
Hi @surexxx!
Thanks for pointing this out and for your contribution. I added this item in my current sprint, so I can reasonably tell it will be done shortly. I'll share feedback regarding the progress.
Have a great day!

[2022-11-28 08:51] Tr00d commented on #298
Hi @surexxx!
Thanks for pointing this out and for your contribution. I added this item in my current sprint, so I can reasonably tell it will be done shortly. I'll share feedback regarding the progress.
Have a great day!